<?php
$this->head->prependCss('/layouts/drphil/css/bootstrap.min.css');
$this->head->prependCss('/layouts/drphil/css/bootstrap-theme.min.css');
$this->head->prependCss('/layouts/drphil/css/style.css');

$this->head->prependJs('/layouts/drphil/js/all.min.js');


// metadata
$meta = My_Registry::getInstance()->getListMeta($this->controllerName , $this->actionName);

if (count($meta) > 0) {
    $this->headTitle($meta[0]->meta_title);
    $this->headMeta()->appendName('description', $meta[0]->meta_description);
    $this->headMeta()->appendName('keywords', $meta[0]->meta_keyword);
}else{
	
}


header('Content-Type: text/html; charset=utf-8');
header('X-UA-Compatible: IE=edge,chrome=1');


?><!DOCTYPE html>
<html>
<head>
<?php echo $this->headTitle()?>
<meta name="viewport" content="width=device-width, minimum-scale=1.0" />
<meta name="google-site-verification" content="nHlQsaLbqcKFrZy4V5IDWdBJa8OM5U8g2J8-tFST7-0" />
<?php echo $this->headMeta()?>

<link href="//static-org.vcdn.vn/123fstatic/favicon.ico" rel="icon" />
<?php echo $this->headLink()?>
<?php echo $this->headScript()?>
<?php include '_script.php'; ?>
<style type="text/css">
	
@media (max-width: 767px) {
 .navbar-inverse{
    color:white !important;
    background: green !important;
  }
  .navbar-inverse .navbar-brand{
  	color: #FFFFFF;
    margin: 15px;
    font-size: 30px;
  }
  .navbar-header{
  	height: 80px;
  }
  #content{
  	margin-top:10px;
  }
  #slide-nav .navbar-toggle > .icon-bar {
    width: 50px;
    display: block;
    height: 10px;
    margin: 5px 0 0 0;
 }
 #slide-nav.navbar-inverse #navbar-height-col {
    background: #eae9e9;
    z-index: 1;
    border: 0;
}
#slide-nav #slidemenu .navbar-nav {
    min-width: 0;
    width: 100%;
    margin-top: 30px;
    margin-left: 5px;
    font-size: 20px;
    background: green;
    color: white;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a{
	background: orange;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
    height: 60px;
}
#ember1627 img{
	display: none;
}
.content{
	margin-top:10px;
}
.navbar-fixed-top{
	position: relative;
}

}
@media (min-width: 767px) {
	.content{
		margin-top: 100px !important;
	}
	  #content{
  	margin-top:100px;
  }
}
@media (min-width: 991px) {
	.content{
		margin-top: 10px !important;;
	}
	  #content{
  	margin-top:10px !important;
  }
	}

</style>

</head>
<body class=" page-<?php echo $this->controllerName?> page-<?php echo $this->controllerName?>-<?php echo $this->actionName?>" data-controller="<?php echo $this->controllerName?>" data-action="<?php echo $this->actionName?>" >
    <?php include '_header.php'; ?>
    <?php echo $this->layout()->content?>
    <?php include '_footer.php'; ?>
</body>
</html>
