<?php 
// SEO
$title = !empty($this->news->meta_title) ? $this->news->meta_title : $this->news->news_title;
$this->headTitle($title);
$this->headMeta()->appendName('description', !empty($this->news->meta_description) ? $this->news->meta_description : $this->news->news_description);
$this->headMeta()->appendName('keywords', !empty($this->news->meta_keyword) ? $this->news->meta_keyword : 'Căn hộ, bất động sản, đất nền, vay vốn bất động sản, căn hộ giá rẻ, văn phòng, nhà ở, đất nền bình dương, cho thuê nhà giá rẻ');
$this->headMeta()->appendName('site_name', "Căn hộ, nhà đất, tìm kiếm nhà ở nhanh, hiệu quả");
?>
<div class="bg_banner">
    <div class="container">
        <div class="row">
            <div class="banner">

        </div>
    </div>
</div>
<div class="bg_page container" style="width:80%;margin-bottom:100px">
    <div class="page row">
        <div class="page_left col-md-9" style="border: 1px solid rgb(236, 234, 234);">
            <?php echo $this->render('news/part/page_left.phtml');?>
        </div>
        <div class="page_right col-md-3">
            <?php echo $this->render('news/part/page_right.phtml');?>
        </div>
        <div class="ClearBoth"></div>
    </div>
</div>
