<?php $news = My_Registry::getInstance()->getListNews(1);
?>
  <h3 class="widget-title h2"><?php echo $news[0]->news_title;?></h3>
  <div class="desc">
  		<img src="<?php echo $news[0]->size1;?>" alt="<?php echo $news[0]->news_title;?>" height="100px" style="margin:10px;margin-top:0;float:left">
  		<?php echo $news[0]->news_description;?>
  </div>
