<ul class="grid row">
<?php if(!empty($this->list_video)):?>
	<?php foreach ($this->list_video as $key => $item):?>
	<li class="item-small clearfix">
		<div class="view-img">
			<a href="<?php echo $item->url_short?>" title="<?php echo $item->product_name?>"><img class="thumb-img" alt="<?php echo $item->product_name?>" src="/drphil.jpg">
			<span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
			</a>
		</div>
		<div class="view-desc">
			<h6><a href="<?php echo $item->url_short?>" title="<?php echo $item->product_name?>"><?php echo $item->product_name?></a></h6>
			<span class="byline"> <cite class="fn"><i class="fa fa-clock-o"></i> <?php  echo date("F j, Y", strtotime($item->publish_date));?></cite></span>
		</div>
	</li>
<?php endforeach;?>
<?php endif;?>
</ul>