<div class="form-group">
    <label class="col-md-3 control-label" for="inputDefault"><?php echo $field['label']?></label>
    <div class="col-md-6">
        <div class="switch switch-primary">
            <input type="checkbox" name="<?php echo $key?>" data-plugin-ios-switch <?php echo (isset($this->data->$key) && 0 != (int)$this->data->$key) ? 'checked="checked"' : ''; ?> />
        </div>
    </div>
</div>