<div class="form-group">
    <label class="col-md-3 control-label" for="inputDefault"><?php echo $field['label']?></label>
    <div class="col-md-6">
        <select id="init" class="form-control mb-md" multiple="multiple" data-plugin-selectTwo>
            <?php foreach ($field['list'] as $id => $value) { ?><option <?php echo (isset($this->data->$key) && My_View_Admin::multicheck($id,$this->data->$key)) ? 'selected="selected"' : ''; ?> value="<?php echo $id?>"><?php echo $value?></option><?php } ?>
        </select>
        <input type="hidden" id="hidden" name="<?php echo $key?>" value ="">
    </div>
</div>
<script src="/layouts/admin/assets/vendor/jquery/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){
   $('#hidden').val($("#init").val());
	 $('#init').on('change', function(){
        $('#hidden').val($(this).val());
    });
 });
</script>
