<div class="col-md-3">
    <select name="<?php echo $field['key']?>" class="form-control mb-md" data-plugin-selectTwo onchange="this.form.submit()">
        <?php foreach ($field['list'] as $id => $value) { ?><option <?php echo (isset($this->sort->$field['key']) && $id == $this->sort->$field['key']) ? 'selected="selected"' : ''; ?> value="<?php echo $id?>"><?php echo $value?></option><?php } ?>
    </select>
</div>