@font-face {
  font-family: 'UVNTinTucHep_R';
  font-style: normal;
  font-weight: 300;
  src: url('/layouts/web/font/UVNTinTucHep_R.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('/layouts/web/font/robotocondensed/RobotoCondensed-Light.woff') format('woff'), url('/layouts/web/font/robotocondensed/RobotoCondensed-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('/layouts/web/font/robotocondensed/RobotoCondensed-Regular.woff') format('woff'), url('/layouts/web/font/robotocondensed/RobotoCondensed-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('/layouts/web/font/robotocondensed/RobotoCondensed-Bold.woff') format('woff'), url('/layouts/web/font/robotocondensed/RobotoCondensed-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url('/layouts/web/font/robotoslab/RobotoSlab-Light.woff') format('woff'), url('/layouts/web/font/robotoslab/RobotoSlab-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('/layouts/web/font/robotoslab/RobotoSlab-Regular.woff') format('woff'), url('/layouts/web/font/robotoslab/RobotoSlab-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url('/layouts/web/font/robotoslab/RobotoSlab-Bold.woff') format('woff'), url('/layouts/web/font/robotoslab/RobotoSlab-Bold.ttf') format('truetype');
}
/*======================================================================
================== global Variables ===========================================
======================================================================*/
.box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.unselect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.rad {
  border-radius: 3px;
}
.inline {
  display: inline-block;
}
.trans-bg {
  transition: background-color 0.2s ease;
}
.trans-border {
  transition: border-width 0.2s ease;
}
.colorGreen {
  color: #64bd60;
}
.colorOrange {
  color: #f79320;
}
.colorBluelight {
  color: #60c5ef;
}
.colorBlue {
  color: #4374b9;
}
.colorYellow {
  color: #ffcc27;
}
.colorGrey {
  color: #989898;
}
.colorLightGrey {
  color: #cccccc;
}
/*======================================================================
================== My mixin ===========================================
======================================================================*/
/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}
/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ==========================================================================
   My reset
   ========================================================================== */
body {
  font-family: "Roboto Slab", Helvetica, Arial !important;
  font-size: 13px;
  font-weight: 350;
}
body * {
  padding: 0;
  margin: 0;
}
body ol,
body ul {
  list-style: none;
}
body a {
  text-decoration: none;
  color: #464646;
  transition: color 0.2s ease-in-out 0s;
}
body a:hover {
  text-decoration: none;
  color: #4374b9;
}
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
body {
  background-color: #f4f2f2;
}
#header {
  padding: 0;
  position: relative;
  z-index: 9999;
  box-shadow: 3px 0 2px rgba(0, 0, 0, 0.5);
  max-height: 85px;
}
#logo {
  transition: height 0.3s ease 0s, line-height 0.3s ease 0s;
  margin-top: 25px;
  margin-bottom: 5px;
  position: relative;
  max-height: 62px;
}
#skenav ul ul {
  position: absolute;
  top: 100%;
  left: 0px;
  float: left;
  width: 200px;
  z-index: 99999;
}
#skenav .ske-menu,
ul.menu {
  font-size: 13px;
  margin: 0px;
  display: inline-block;
  width: auto;
  float: right;
}
ul.menu li {
  float: left;
  position: relative;
  margin-left: 0px;
  list-style: none outside none;
}
#skenav ul ul {
  position: absolute;
  top: 100%;
  left: 0px;
  float: left;
  width: 200px;
  z-index: 99999;
}
#skenav a {
  color: #333333;
  white-space: nowrap;
  display: block;
  font-size: 13px;
  line-height: 85px;
  padding: 0 22px;
  text-decoration: none;
  transition: color 0.1s linear 0s, background 0.1s linear 0s;
  -webkit-transition: color 0.1s linear 0s, background 0.1s linear 0s;
  -moz-transition: color 0.1s linear 0s, background 0.1s linear 0s;
  -o-transition: color 0.1s linear 0s, background 0.1s linear 0s;
}
#skenav a:hover {
  background-color: #FFA500;
  color: #fff;
}
#skenav .active {
  background-color: #FFA500;
  color: #fff;
}
#sub-menu ul li {
  display: inline-block;
  float: left;
  padding: 5px 10px 5px 10px;
  white-space: nowrap;
}
#sub-menu ul a {
  color: #fff;
}
#sub-menu ul a:hover {
  border-top: 2px solid orange;
  color: #000;
  height: 100%;
  padding: 10px;
  border-radius: 2px;
  background-color: #fff;
}
#sub-menu .panel {
  display: none;
  background-color: #fff;
  border: 3px solid #FFA500;
  min-height: 400px;
}
#sub-menu .panel .product-item {
  float: left;
  margin: 5px;
}
#sub-menu .panel .product-item img {
  border: 2px solid #f0e1c5;
}
#sub-menu .panel .product-item .product-item-name {
  margin: 10px 5px 5px 5px;
  border-top: 3px solid #E0E0E0;
  text-align: center;
}
#sub-menu .panel .product-item .product-item-name a {
  color: #003D7C;
  font-size: 11px;
}
#sub-menu .panel .product-featured {
  margin-top: 15px;
  position: relative;
}
#sub-menu .panel .product-featured img {
  float: left;
}
#sub-menu .panel .product-featured a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 15px;
  right: 0;
  bottom: 0;
  padding: 5px 10px;
  color: #fff;
  font-size: 16px;
  font-weight: lighter;
  line-height: 150%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: rgba(0, 0, 0, 0.8);
  transition: all 200ms;
  width: 450px;
}
#sub-menu .panel .product-featured a:hover {
  overflow: auto;
  white-space: normal;
  text-overflow: inherit;
  background-color: rgba(67, 116, 185, 0.8);
  height: 50px;
}
.annotation {
  position: relative;
}
.slide-footer {
  position: absolute;
  bottom: 0px;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.57);
  width: 100%;
}
.slide-footer .footer-wrapper {
  width: 985px;
  margin: 0px auto;
}
.slide-footer .block3 {
  width: 298px;
  height: 133px;
  float: left;
  padding: 0px 15px;
  padding-top: 10px;
  cursor: pointer;
  position: relative;
  background: transparent;
  -webkit-transition: background-color 500ms ease-out;
  -moz-transition: background-color 500ms ease-out;
  -o-transition: background-color 500ms ease-out;
  -ms-transition: background-color 500ms ease-out;
  transition: background-color 500ms ease-out;
}
.slide-footer .block3:hover {
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: background-color 500ms ease-in;
  -moz-transition: background-color 500ms ease-in;
  -o-transition: background-color 500ms ease-in;
  -ms-transition: background-color 500ms ease-in;
  transition: background-color 500ms ease-in;
}
.slide-footer .block3 a {
  text-decoration: none;
  color: #303030;
}
.slide-footer .block3 h2 {
  font-size: 22px;
  font-family: UVNTinTucHep_R;
  color: #FFA500;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: solid 1px #95938f;
  text-align: center;
  margin: 5px 0px;
}
.slide-footer .block3 span.desc {
  color: #fff;
  font-size: 14px;
  font-family: UVNTinTucHep_R;
  font-weight: normal;
  text-align: justify;
}
.slide-footer .block3 span.detail {
  display: block;
  position: absolute;
  bottom: 9px;
  right: 15px;
  text-align: center;
  width: 58px;
  height: 14px;
  padding: 4px 0px;
  background: url('/layouts/web/img/bg_footer_bottom.jpg') no-repeat;
  color: #191919;
  font-family: arial;
  font-size: 11px;
}
.bg_banner {
  background: url(http://ehome5.vn/assets/uploads/myfiles/images/banner/banner-200apx.jpg) no-repeat 50% 0;
  margin: 0 auto;
  padding: 0;
}
.bg_banner .banner {
  height: 111px;
  padding: 60px 20px 0 20px;
  margin: 0 auto;
}
.bg_banner .banner .company {
  padding: 0 0 1px 0;
}
.bg_banner .banner .nav_line {
  height: 1px;
  line-height: 1px;
  background: url(/layouts/web/img/bg_navication_line.png) repeat-x 0 0;
}
.bg_banner .banner .navication {
  background: url(/layouts/web/img/bg_navication.png) repeat 0 0;
  height: 43px;
  padding: 22px 0 0 20px;
}
.bg_banner .banner .navication ul li {
  float: left;
  margin-right: 10px;
}
.bg_banner .banner .navication ul li a {
  color: #fff;
  font-size: 18px;
}
.bg_page {
  background: #fff;
  margin: 0 auto;
  padding: 0;
}
.page {
  margin: 0 auto;
  padding-right: 5px;
  padding-left: 22px;
}
.page .page_left {
  margin: 0 0 0 0;
}
.page .page_left .background_about {
  background-image: url(/layouts/web/img/about1_en.jpg);
  padding-top: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #9a3336;
  width: 630px;
  height: 38px;
}
.page .page_left .bg_title_news {
  background-image: url(/layouts/web/img/news_title_bg.jpg);
  background-position: center;
  width: 620px;
  line-height: 180%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: justify;
  padding-left: 10px;
  color: #000000;
}
.page .page_left .datenewsdetail {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #009933;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 10px;
}
.page .page_left .datenewsdetail .source {
  font-family: Arial, Helvetica, sans-serif;
  color: #666666;
  text-align: right;
  padding-left: 5px;
  font-size: 11px;
}
.page .page_left .background_about {
  background-image: url(/layouts/web/img/about1_en.jpg);
  padding-top: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #9a3336;
  width: 630px;
  height: 38px;
}
.page .page_left .othernews {
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 5px;
  padding-top: 5px;
  width: 95%;
}
.page .page_left .othernews ul {
  list-style: none outside none;
  margin: 0;
  padding-left: 0px;
  padding-top: 10px;
  position: relative;
}
.page .page_left .othernews li {
  background-image: url(/layouts/web/img/blue-square.gif);
  background-position: 0 7px;
  background-repeat: no-repeat;
  padding-left: 15px;
  position: relative;
}
.page .page_right {
  margin: 0;
  padding: 40px 0 0 0;
}
.page .page_right .menuright {
  margin: 0 0 40px 0;
  padding: 0;
}
.page .page_right .menuright .menu_line1 {
  line-height: 1px;
  height: 1px;
  background: #dcdcdc;
}
.page .page_right .menuright a {
  padding: 6px 10px 0 30px;
  height: 23px;
  display: block;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dbdbdb;
  color: #0E8EAB;
  font-size: 14px;
}
.page .page_right .menuright a:hover {
  background: url(/layouts/web/img/bg_menu_item.jpg) repeat-x 0 0;
  color: #fff;
}
.page .page_right .background_investor {
  background-image: url(/layouts/web/img/latest_news_en_bg.jpg);
  widows: 261;
  height: 32;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #9a3336;
  padding-left: 15px;
  clear: both;
}
.page .page_right .newsdetail {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: justify;
  padding-left: 10px;
  padding-right: 15px;
  padding-bottom: 5px;
}
.page .page_right .datenewsfd {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #53910c;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
}
.page .page_right .titlefd {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding-left: 8px;
}
.page .page_right .titlefd a {
  color: #0E8EAB;
}
.page .page_right .titlefd a:hover {
  color: gray;
}
.page .page_right .banner-adv {
  text-align: center;
}
.page .page_right .banner-adv h2 {
  margin: 20px auto;
  text-align: center;
  font-weight: bold;
  font-family: UVNTinTucHep_R;
  font-size: 18px;
  text-transform: uppercase;
  color: #92b233;
  border-bottom: solid 1px #e5e5e5;
  width: 228px;
  padding-bottom: 10px;
}
.page .page_right .banner-adv img {
  border: solid 1px #e6e2df;
  padding: 4px;
  background: #fff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  display: block;
  width: 218px;
  height: 140px;
  margin: 0px auto;
}
.menusp_container {
  position: absolute;
  right: 20px;
  top: 280px;
  color: #fff;
}
.menusp_container a {
  color: #fff;
  font-size: 14px;
}
.product_price {
  width: 180px;
  height: 230px;
  position: absolute;
  right: 20px;
  top: 10px;
  color: #FFF;
}
.product_price .price_title {
  float: left;
  margin-bottom: 3px;
  background: url(../../Content/images/gia3.png);
  height: 142px;
  padding-left: 2px;
  padding-right: 2px;
  width: 150px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.52);
}
.product_price .price_title .price_text {
  font-size: 14px;
  color: white;
  font-weight: bold;
}
.product_price .price_title .price {
  width: 140px;
  margin: auto;
  height: 85px;
  padding-top: 8px;
  color: white;
  font-size: 26px;
  display: block;
  border-bottom: 1px solid #FFF;
}
.product_price .price_title .price .price_cur {
  line-height: 25px;
  font-family: arial;
  font-size: 14px;
}
.product_price .price_title .price_vat {
  font: 11px ;
  line-height: 40px;
}
.product_price .icon {
  float: left;
  width: 55px;
  margin-right: 5px;
  border: 1px solid rgba(255, 255, 255, 0.52);
  border-radius: 2px;
  background-color: rgba(3, 133, 200, 0.7);
  padding: 10px;
  font-size: 10px;
}
.product_price .icon:last-child {
  margin-right: 0;
}
.product_price .icon span {
  font-weight: bold;
}
.sppanel {
  position: absolute;
  left: 15px;
  top: 15px;
}
.sppanel .sp_name {
  float: left;
  color: white;
  background: url(http://www.phumyford.com.vn/Content/images/menudiv.png);
  font-size: 16px;
  font-weight: bold;
  margin-top: -10px;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 20px;
  font-family: graffiti;
}
.sppanel .mausac {
  float: left;
  color: black;
  background-color: #DDDCDA;
  font-size: 14px;
  margin-top: -10px;
  height: 30px;
  padding-left: 10px;
  color: #003D7C;
}
.sppanel .mau {
  float: left;
  background-color: #DDDCDA;
  margin-top: -10px;
  height: 30px;
  padding-left: 10px;
}
.sppanel h4 {
  color: #fff;
  font-size: 14px;
}
.sppanel .menu_left {
  float: left;
  background: url(http://www.phumyford.com.vn/Content/images/leftdiv.png) no-repeat;
  height: 31px;
  width: 22px;
}
.sppanel .menu_title {
  float: left;
  background: url(http://www.phumyford.com.vn/Content/images/menudiv.png);
  height: 31px;
  padding-left: 2px;
  padding-right: 2px;
  width: 140px;
  position: relative;
  margin-bottom: 5px;
  padding-left: 15px;
}
.sppanel .menu_right {
  float: left;
  background: url(http://www.phumyford.com.vn/Content/images/rightdiv.png) no-repeat;
  height: 31px;
  width: 22px;
}
.sppanel .clear {
  clear: both;
}
.sppanel .menu_title img {
  position: absolute;
  left: -10px;
  top: 4px;
}
/* jssor slider arrow navigator skin 05 css */
/*
.jssora05l              (normal)
.jssora05r              (normal)
.jssora05l:hover        (normal mouseover)
.jssora05r:hover        (normal mouseover)
.jssora05ldn            (mousedown)
.jssora05rdn            (mousedown)
*/
.jssora05l,
.jssora05r,
.jssora05ldn,
.jssora05rdn {
  position: absolute;
  cursor: pointer;
  display: block;
  background: url(/layouts/web/img/alila/a17.png) no-repeat;
  overflow: hidden;
}
.jssora05l {
  background-position: -10px -40px;
}
.jssora05r {
  background-position: -70px -40px;
}
.jssora05l:hover {
  background-position: -130px -40px;
}
.jssora05r:hover {
  background-position: -190px -40px;
}
.jssora05ldn {
  background-position: -250px -40px;
}
.jssora05rdn {
  background-position: -310px -40px;
}
/* jssor slider thumbnail navigator skin 01 css */
/*
.jssort01 .p           (normal)
.jssort01 .p:hover     (normal mouseover)
.jssort01 .pav           (active)
.jssort01 .pav:hover     (active mouseover)
.jssort01 .pdn           (mousedown)
*/
.jssort01 .w {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.jssort01 .c {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 68px;
  height: 68px;
}
.jssort01 .p:hover .c,
.jssort01 .pav:hover .c,
.jssort01 .pav .c {
  background: url(/layouts/web/img/alila/t01.png) center center;
  border-width: 0px;
  top: 2px;
  left: 2px;
  width: 68px;
  height: 68px;
}
.jssort01 .p:hover .c,
.jssort01 .pav:hover .c {
  top: 0px;
  left: 0px;
  width: 70px;
  height: 70px;
  border: #fff 1px solid;
}
.home-footer {
  margin: 0 auto;
  padding: 0px 0 0 0;
  background-color: #fff;
  box-shadow: 3px 0 2px rgba(0, 0, 0, 0.5);
}
.home-footer .news_home {
  margin: 0 auto;
  width: 945px;
  padding: 0 0 30px;
}
.home-footer .news_home .footer-top {
  height: 34px;
  margin-bottom: 5px;
}
.home-footer .news_home .footer-top h2 {
  margin: 4px 0px;
  padding: 0px;
  float: left;
  font-weight: bold;
  font-family: UVNTinTucHep_R;
  font-size: 17px;
  text-transform: uppercase;
}
.home-footer .news_home .footer-top .last-new {
  width: 580px;
}
.home-footer .news_home .news {
  border-left: 3px solid #333333;
  padding: 0 0 0 10px;
  height: 46px;
}
.home-footer .news_home .news .date {
  font-weight: 700;
  padding: 0 0 5px 0;
}
.home-footer .news_home .news .title a {
  color: #fff;
  font-size: 13px;
}
.home-footer .news_home .footer .menu_footer {
  margin: 10px auto 0px;
  padding: 0 20px 5px 20px;
  width: 945px;
}
.home-footer .news_home .footer .menu_footer ul li {
  float: left;
  margin: 0 10px 0 0;
}
.home-footer .news_home .footer .menu_footer ul li a:hover {
  color: #a0a0a0;
}
.home-footer .news_home .footer .coppy {
  margin: 0 auto;
  padding: 0 20px 30px 20px;
  width: 945px;
}
.home-footer .news_home .footer .coppy .coppyright {
  float: left;
  color: #a0a0a0;
  padding-top: 5px;
}
.home-footer .news_home .top a {
  color: #0E8EAB;
}
.home-footer .news_home .top a:hover {
  color: #98272b;
}
.home-footer .news_home .social {
  float: right;
  margin-top: 5px;
  margin-right: 20px;
}
.home-footer .news_home .social li {
  display: inline;
  margin-left: 5px;
}
.ClearBoth {
  clear: both;
}
/* http://www.menucool.com */
#wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
#zoom-slider {
  width: 100%;
  height: 515px;
  /* Make it smaller than your images for zooming effect */
  background: #cccccc url(loading.gif) no-repeat 50% 50%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  /*make the image slider center-aligned */
  border-radius: 6px 6px 0 0;
}
#zoom-slider img {
  position: absolute;
  display: none;
  top: 0px;
  z-index: 1;
  -ms-interpolation-mode: bicubic;
  image-rendering: optimizeQuality;
}
/* Caption styles */
div.zs-caption-bg,
div.zs-caption-bg2 {
  position: absolute;
  left: 120px;
  /*if the caption needs to be aligned from right, specify by right instead of left. i.e. right:20px;*/
  bottom: 10px;
  /*if the caption needs to be aligned from top, specify by top instead of bottom. i.e. top:350px;*/
  width: 360px;
  height: auto;
  padding: 10px;
  z-index: 6;
  overflow: hidden;
  font-size: 0;
}
div.zs-caption-bg {
  background: transparent;
  /*Caption background color. Can be defined as semi-transparent through the javascript slideshowOptions setting.*/
  border: none;
  /*border-radius: 5px;border:1px solid #CCCCCC;*/
}
div.zs-caption {
  font: normal 15px/16px Arial;
  color: #CCC;
  z-index: 7;
  text-align: left;
  /* When captionEffect was set to rotate through javascript, and setting "text-align:left" will create a fly-in effect, and setting "text-align:center" will get the rotate effect. */
  overflow: hidden;
}
div.zs-caption a {
  color: #09F;
}
/* navigation bullets wrapper */
div.navBulletsWrapper {
  display: none;
}
/*-----------navigation buttons----------------*/
a.navPrev,
a.navPlay,
a.navPause,
a.navNext {
  width: 17px;
  height: 17px;
  background: transparent url(navbuttons.gif);
  display: inline-block;
  margin: 10px 0;
  cursor: pointer;
}
a.navPause {
  background-position: 0 0;
}
a.navPlay {
  background-position: 0 -17px;
}
a.navNext {
  background-position: 0 -34px;
}
a.navPrev {
  background-position: 0 -51px;
}
a.navPause:hover {
  background-position: 17px 0;
}
a.navPlay:hover {
  background-position: 17px -17px;
}
a.navNext:hover {
  background-position: 17px -34px;
}
a.navPrev:hover {
  background-position: 17px -51px;
}
a.navPrev,
a.navPlay,
a.navPause,
a.navNext {
  user-select: none;
}
/*thumbnails*/
#thumbs {
  width: 840px;
}
#thumbs span {
  background: Black;
  display: inline-block;
  margin-right: 3px;
  font-size: 0;
}
#thumbs img {
  border: 1px solid #999;
  cursor: pointer;
}
/* --------- Others ------- */
#zoom-slider img {
  transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}
/*= CORE CSS */
.hidden {
  display: none;
}
.eventCalendar-wrap {
  position: relative;
  overflow: hidden;
}
.eventCalendar-wrap .arrow {
  position: absolute;
  z-index: 5;
  top: 3px;
}
.eventCalendar-wrap .prev {
  left: 3px;
}
.eventCalendar-wrap .next {
  right: 3px;
}
.eventsCalendar-currentTitle .monthTitle {
  display: block;
  text-align: center;
}
.eventsCalendar-monthWrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.eventsCalendar-monthWrap.currentMonth {
  z-index: 1;
}
.eventsCalendar-daysList {
  display: table;
  width: 100%;
}
.eventsCalendar-daysList.showAsWeek {
  display: block;
}
.eventsCalendar-daysList li {
  display: table-cell;
}
.eventsCalendar-daysList li.dayWithEvents {
  background: rgba(0, 0, 0, 0.15);
}
.eventsCalendar-daysList li.current {
  background: rgba(0, 0, 0, 0.35);
}
.eventsCalendar-daysList.showAsWeek li {
  display: block;
  float: left;
  width: 14.28%;
  height: 20px;
}
.eventsCalendar-daysList li a {
  padding: 0;
  display: block;
  text-align: center;
  font-size: 8px;
  min-width: 7px;
}
.eventsCalendar-loading {
  display: block;
  min-width: 100px;
  height: 40px;
  line-height: 40px;
}
.eventsCalendar-list {
  position: relative;
  z-index: 1;
}
.eventsCalendar-list.oldEventList {
  z-index: 2;
}
.eventsCalendar-subtitle {
  padding-left: 5px;
  font-weight: bold;
  font-size: 120%;
}
/* end of core CSS */
.event-calendar {
  width: 210px;
  padding-left: 28px;
  z-index: 9999;
  top: 50%;
  right: 0;
  margin-top: -162px;
  position: fixed;
}
.event-toggle {
  position: absolute;
  width: 25px;
  height: 120px;
  display: block;
  background: #ccc;
  left: 0;
  background: #ea8e14 url('../images/event-title.png') no-repeat center center;
}
.block-show .event-toggle {
  background-image: url('../images/event-title-show.png');
}
.event-toggle:hover {
  background-color: #2b2b2b;
}
.page_lang_en .event-toggle {
  background: #ea8e14 url('../images/event-title-en.png') no-repeat center center;
}
.page_lang_en .block-show .event-toggle {
  background-image: url('../images/event-title-show-en.png');
}
/* Theme CSS */
.eventCalendar-wrap {
  background-color: #fff;
  color: #807E7E;
}
.eventCalendar-wrap .arrow {
  text-decoration: none;
  color: #fff;
  line-height: 28px;
  top: 9px;
  padding: 4px 10px;
}
.eventCalendar-wrap .arrow:hover {
  opacity: 0.7;
}
.eventCalendar-wrap .arrow span {
  height: 0;
  width: 0;
  font-size: 0;
  line-height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #fff;
  float: left;
  text-indent: -5000px;
}
.eventCalendar-wrap .arrow.prev span {
  border-left-width: 0;
  border-right: 6px solid #fff;
}
.eventsCalendar-slider {
  height: 80px;
}
.eventsCalendar-monthWrap {
  border-radius: 5px;
  top: 10px;
  left: 0px;
}
.eventsCalendar-currentTitle {
  line-height: 25px;
  background-color: #EA8E14;
}
.eventsCalendar-currentTitle .monthTitle {
  font-size: 110%;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}
.eventsCalendar-daysList {
  zoom: 1;
  padding: 0;
  width: 100%;
}
.eventsCalendar-daysList.showAsWeek {
  margin: 10px 5px;
  width: auto;
  border: solid 1px #BCBCBC;
  border-bottom-width: 0;
  border-radius: 0;
  background-color: #CCCCCC;
  background-image: linear-gradient(top, #eeeeee 42%, #cccccc 71%);
  background-image: -o-linear-gradient(top, #eeeeee 42%, #cccccc 71%);
  background-image: -moz-linear-gradient(top, #eeeeee 42%, #cccccc 71%);
  background-image: -webkit-linear-gradient(top, #eeeeee 42%, #cccccc 71%);
  background-image: -ms-linear-gradient(top, #eeeeee 42%, #cccccc 71%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.42, #eeeeee), color-stop(0.71, #cccccc));
}
.eventsCalendar-daysList:before,
.eventsCalendar-daysList:after {
  content: "";
  display: table;
}
.eventsCalendar-daysList:after {
  clear: both;
}
.eventsCalendar-day-header {
  text-transform: lowercase;
  text-align: center;
  font-size: 10px;
  border-bottom: solid 1px #BCBCBC;
}
.eventsCalendar-daysList.showAsWeek li {
  height: auto;
  margin: 0;
}
.eventsCalendar-daysList.showAsWeek li.empty {
  background-color: #ccc;
  min-height: 20px;
}
.eventsCalendar-day a {
  text-decoration: none;
  font-size: 10px;
  color: #424242;
}
.eventsCalendar-day {
  border-left: solid 1px #BCBCBC;
}
.eventsCalendar-day a {
  border: solid 1px #BCBCBC;
  border-width: 0 1px 1px 0;
}
.showAsWeek .eventsCalendar-day {
  border-left-width: 0;
}
.showAsWeek .eventsCalendar-day a {
  border: solid 1px red;
  border-color: #fff #BCBCBC #BCBCBC #eee;
  line-height: 19px;
  font-size: 11px;
}
.eventsCalendar-day a:hover {
  background-color: #E4E4E4;
  /*	box-shadow:inset 5px 5px 10px #C1C1C1;
					text-shadow: 2px 2px 2px #C1C1C1;*/
}
.eventsCalendar-daysList li.today a {
  color: #fff;
  background: #aaa;
  /*	box-shadow:inset 5px 5px 10px #777;
				text-shadow: 2px 2px 2px #777;*/
}
li.eventsCalendar-day.today a:hover {
  background-color: #ccc;
  /*box-shadow:inset 5px 5px 10px #999;*/
}
.eventsCalendar-daysList li.dayWithEvents a {
  background: #EA8E14;
  /*box-shadow:inset 5px 5px 10px #698B10;
				text-shadow: 2px 2px 2px #698B10;*/
  color: #fff;
}
li.eventsCalendar-day.dayWithEvents a:hover {
  background-color: #C2D374;
  /*box-shadow:inset 5px 5px 10px #89B814;
					text-shadow: 2px 2px 2px #89B814;*/
}
.eventsCalendar-daysList li.current a {
  color: #fff;
  background: #449FB2;
  box-shadow: inset 5px 5px 10px #216B7A;
  text-shadow: 2px 2px 2px #216B7A;
}
li.eventsCalendar-day.current a:hover {
  background-color: #79BDCC;
  box-shadow: inset 5px 5px 10px #449FB2;
  text-shadow: 2px 2px 2px #449FB2;
}
.eventsCalendar-loading {
  border-radius: 4px;
  margin: 5px auto;
  padding: 0 10px;
  background-color: #ccc;
  color: #fff;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 0 10px #ccc;
  text-shadow: 0 0 3px #aaa;
  position: absolute;
  z-index: 4;
  top: 25px;
  left: 5px;
}
.eventsCalendar-loading.error {
  background-color: red;
}
.eventsCalendar-subtitle {
  padding-top: 10px;
}
.eventsCalendar-list-wrap {
  min-height: 100px;
  position: relative;
}
.eventsCalendar-list-content.scrollable {
  height: 100px;
  overflow-y: auto;
  margin: 0 5px 5px 0;
}
.eventsCalendar-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.eventsCalendar-list li {
  padding: 0 5px 5px;
  margin: 0;
  clear: both;
}
.eventsCalendar-list li time {
  font-size: 10px;
  line-height: 13px;
}
.eventsCalendar-list li time em {
  float: left;
  font-style: normal;
}
.eventsCalendar-list li time small {
  font-size: 10px;
  float: left;
  background-color: #807E7E;
  color: #fff;
  padding: 0 5px 0 4px;
  margin: 0 0 0 3px;
  display: none;
}
.eventsCalendar-list li .eventTitle {
  display: block;
  clear: both;
  font-weight: bold;
  text-decoration: none;
}
.eventsCalendar-list li a.eventTitle {
  color: #0E8EAB;
}
.eventsCalendar-list li a.eventTitle:hover {
  text-decoration: underline;
}
.eventsCalendar-list li .eventDesc {
  clear: both;
  margin: 0 0 5px 0;
  font-size: 80%;
  line-height: 1.2em;
}
.eventsCalendar-list .eventsCalendar-noEvents {
  font-size: 120%;
  border-radius: 4px;
  margin: 5px;
  padding: 5px;
  background-color: #ccc;
  color: #fff;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 0 10px #ccc;
  text-shadow: 0 0 3px #aaa;
}
.bt {
  font-size: 12px;
  display: block;
  clear: both;
  text-align: center;
  margin-top: 10px;
  padding: 9px 34px 11px;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  background-color: #698B10;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#89b814), to(#698b10));
  background-image: -moz-linear-gradient(top, #89b814, #698b10);
  background-image: -ms-linear-gradient(top, #89b814, #698b10);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #89b814), color-stop(100%, #698b10));
  background-image: -webkit-linear-gradient(top, #89b814, #698b10);
  background-image: -o-linear-gradient(top, #89b814, #698b10);
  background-image: linear-gradient(top, #89b814, #698b10);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#89B814', endColorstr='#698B10', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #698B10;
  border-color: #698B10 #698B10 #465F05;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.bt:hover {
  background-position: 0 -15px;
  text-decoration: none;
}
/* end of theme css */
/*= ONLY FOR DEMO PAGE */
body {
  /*
	width:978px;
	box-shadow:0 0 10px #777;
	padding: 20px 40px;
	margin:0 auto;
	*/
}
a {
  color: #0e8eab;
}
/*
.eventCalendar-wrap {
	width:265px;
}
*/
.features li {
  margin-bottom: 3px;
}
#thanksPanel li {
  margin-bottom: 0;
}
#introPanel {
  padding-top: 20px;
}
.poweredBy img {
  float: left;
  margin-right: 3px;
}
.poweredBy .data {
  float: left;
}
.poweredBy .name {
  font-weight: bold;
  color: #555;
  text-decoration: none;
  display: block;
  margin-top: 28px;
}
.poweredBy .twitter {
  text-decoration: none;
  display: block;
  float: left;
}
.features {
  padding-left: 20px;
  float: left;
}
#appLogo {
  margin-right: 30px;
}
pre {
  clear: both;
  background-color: #FFFFCC;
  padding: 5px;
  border: solid 1px #FED17E;
  overflow: auto;
}
#license {
  width: 300px;
  float: right;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
}
/* end of demo page */
