.button-share {
  float: right;
}
.button-share .social li {
  display: inline;
}
.button-share .social li img {
  width: 20px;
}
.detail-content {
  margin-top: 50px;
}
.article ol {
  margin-left: 1.4em;
  list-style: circle;
}
.article ul {
  margin-left: 1.4em;
  list-style: initial;
}
#icon-carousel-left {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  display: block;
  width: 0;
  height: 0;
  border: inset 10px;
}
.carousel-icon {
  border-color: transparent;
  position: absolute;
  top: 50%;
  /* z-index: 5; */
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  font-size: 30px;
  background-color: red;
}
@media only screen and (max-width: 767px) {
  .fb-comments {
    width: 100% !important;
  }
  .fb-comments iframe[style] {
    width: 100% !important;
  }
  .fb-like-box {
    width: 100% !important;
  }
  .fb-like-box iframe[style] {
    width: 100% !important;
  }
  .fb-comments span {
    width: 100% !important;
  }
  .fb-comments iframe span[style] {
    width: 100% !important;
  }
  .fb-like-box span {
    width: 100% !important;
  }
  .fb-like-box iframe span[style] {
    width: 100% !important;
  }
}
