@font-face {
  font-family: 'UVNTinTucHep_R';
  font-style: normal;
  font-weight: 300;
  src: url('/layouts/web/font/UVNTinTucHep_R.woff') format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('/layouts/web/font/robotocondensed/RobotoCondensed-Light.woff') format('woff'), url('/layouts/web/font/robotocondensed/RobotoCondensed-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('/layouts/web/font/robotocondensed/RobotoCondensed-Regular.woff') format('woff'), url('/layouts/web/font/robotocondensed/RobotoCondensed-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('/layouts/web/font/robotocondensed/RobotoCondensed-Bold.woff') format('woff'), url('/layouts/web/font/robotocondensed/RobotoCondensed-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url('/layouts/web/font/robotoslab/RobotoSlab-Light.woff') format('woff'), url('/layouts/web/font/robotoslab/RobotoSlab-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('/layouts/web/font/robotoslab/RobotoSlab-Regular.woff') format('woff'), url('/layouts/web/font/robotoslab/RobotoSlab-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url('/layouts/web/font/robotoslab/RobotoSlab-Bold.woff') format('woff'), url('/layouts/web/font/robotoslab/RobotoSlab-Bold.ttf') format('truetype');
}
/*======================================================================
================== global Variables ===========================================
======================================================================*/
.box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.unselect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.rad {
  border-radius: 3px;
}
.inline {
  display: inline-block;
}
.trans-bg {
  transition: background-color 0.2s ease;
}
.trans-border {
  transition: border-width 0.2s ease;
}
.colorGreen {
  color: #64bd60;
}
.colorOrange {
  color: #f79320;
}
.colorBluelight {
  color: #60c5ef;
}
.colorBlue {
  color: #4374b9;
}
.colorYellow {
  color: #ffcc27;
}
.colorGrey {
  color: #989898;
}
.colorLightGrey {
  color: #cccccc;
}
/*======================================================================
================== My mixin ===========================================
======================================================================*/
/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}
/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ==========================================================================
   My reset
   ========================================================================== */
body {
  font-family: "Roboto Slab", Helvetica, Arial !important;
  font-size: 13px;
  font-weight: 350;
}
body * {
  padding: 0;
  margin: 0;
}
body ol,
body ul {
  list-style: none;
}
body a {
  text-decoration: none;
  color: #464646;
  transition: color 0.2s ease-in-out 0s;
}
body a:hover {
  text-decoration: none;
  color: #4374b9;
}
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
ul .active {
  background-color: #ecebeb;
}
header {
  margin-bottom: 20px;
}
.inner-header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1230px;
}
.inner-header .columns {
  position: relative;
  padding-left: 1.07143rem;
  padding-right: 1.07143rem;
  float: left;
}
.inner-header h1 {
  margin-top: 5px;
}
.inner-header h1 small {
  display: block;
  font-size: 35%;
  line-height: 1;
  font-weight: bold;
}
.inner-header .menu-bar {
  border: 1px solid #eae7e7;
  border-radius: 5px;
}
.inner-header .menu-bar .search {
  float: right;
  margin: 6px;
}
.inner-header .menu-bar .search .s-text {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.inner-header .menu-bar .search .s-submit {
  height: 33px;
  background-image: url(http://templatic.net/demo/wp-content/themes/videobower/library/images/search-icon.png);
  background-repeat: no-repeat;
  bottom: 0;
  background-position: center center;
  background-color: transparent !important;
  border: none !important;
  margin: 0;
  position: absolute;
  right: 20px;
  top: 7px;
  width: 40px;
  border-radius: 5px;
}
#inner-content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1260px;
}
#inner-content #main {
  padding-right: 10px;
}
#inner-content #main .video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
#inner-content #main .video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  max-height: 500px;
  width: 100%;
  position: absolute;
}
#inner-content #main .second {
  margin-top: 50px;
}
#inner-content #main .main-view .item {
  margin-bottom: 2em;
}
#inner-content #sidebar {
  padding-left: 15px;
  padding-right: 15px;
}
#inner-content #sidebar #adv_widget-2 .advt-2c img:first-child {
  margin-right: 1.14286em;
}
#inner-content #sidebar #adv_widget-2 .thumb-img {
  margin-bottom: 30px;
}
#inner-content #sidebar #adv_widget-1 {
  padding-right: 15px;
}
#inner-content #sidebar #adv_widget-1 .advt-1c img {
  margin-bottom: 1em;
  width: 100%;
}
.widget .h2 {
  font-size: 1.57143rem;
  margin: 20px 0;
  padding: 0 0 12px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #bfbfbf;
  position: relative;
}
.widget .h2:before {
  content: "";
  background-color: #bfbfbf;
  height: 0.21429rem;
  position: absolute;
  bottom: -2px;
  width: 3.57143rem;
}
.widget small {
  font-family: 'Roboto Condensed';
  font-weight: 300;
  color: #939393;
  font-size: 12px;
  display: block;
  font-family: "Roboto Slab", Helvetica, Arial;
}
.widget .widget-text {
  padding: 5px;
}
.widget ul {
  margin: 0;
}
.widget ul li {
  color: #a2a2a2;
  display: inline-block;
  width: 50%;
  padding-right: 5%;
  vertical-align: top;
  text-align: right;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-right: -4px;
  font-size: 0.92857em;
  text-align: left;
}
.widget .view-desc {
  height: 4em;
}
.widget .view-desc h6 {
  font-weight: bold;
  color: gray;
  margin-bottom: 0;
  line-height: 1.2;
  overflow: hidden;
}
.widget .view-desc .byline {
  color: #999;
  font-style: normal;
}
.widget .view-img {
  overflow: hidden;
}
.widget .view-img a {
  display: block;
  position: relative;
}
.widget .view-img a img {
  width: 100%;
  height: 100%;
  transition: all 200ms;
}
.widget .view-img a .video-overlay {
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  vertical-align: middle;
}
.widget .view-img a .video-overlay i {
  color: #8a1806;
  font-size: 1.85714em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -25px;
  width: 60px;
  height: 60px;
  background-image: url("/layouts/drphil/img/youtube.png");
  background-size: 60px;
  background-repeat: no-repeat;
}
.widget .view-img a:hover .video-overlay {
  display: block;
  opacity: 1;
}
.widget .item-small {
  width: 100%;
  padding: 0;
  margin-bottom: 1.07143rem;
  padding-bottom: 1.07143rem;
  border-bottom: 1px solid #e0e0e0;
}
.widget .item-small .view-img {
  width: 25%;
  float: left;
}
.widget .item-small .view-img a .video-overlay i {
  margin-top: -16px;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  background-size: 30px;
}
.widget .item-small .view-desc {
  width: 75%;
  float: left;
  padding-left: 5px;
}
.widget .item-small .view-desc h6 {
  font-weight: bold;
  color: gray;
  margin: 0;
  line-height: 1.2;
}
.widget .item-small .view-desc .byline {
  color: #999;
}
footer {
  clear: both;
  margin-top: 5em;
}
footer #inner-footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1260px;
  background-color: #f4f4f4;
}
/* adjust body when menu is open */
body.slide-active {
  overflow-x: hidden;
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
  margin-top: 0px !important;
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
  position: relative;
  padding-top: 70px;
  left: 0;
}
#page-content.slide-active {
  padding-top: 0;
}
/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
  cursor: pointer;
  position: relative;
  line-height: 0;
  float: left;
  margin: 0;
  width: 30px;
  height: 40px;
  padding: 10px 0 0 0;
  border: 0;
  background: transparent;
}
/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
  width: 100%;
  display: block;
  height: 3px;
  margin: 5px 0 0 0;
}
#slide-nav .navbar-toggle.slide-active .icon-bar {
  background: #ffa500;
}
.navbar-header {
  position: relative;
}
/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
  position: relative;
}
/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width: 767px) {
  #slide-nav .container {
    margin: 0;
    padding: 0!important;
  }

  #slide-nav .navbar-header {
    margin: 0 auto;
    padding: 0 15px;
  }
  #slide-nav .navbar.slide-active {
    position: absolute;
    width: 80%;
    top: -1px;
    z-index: 1000;
  }
  #slide-nav #slidemenu {
    background: #f7f7f7;
    left: -100%;
    width: 80%;
    min-width: 0;
    position: absolute;
    padding-left: 0;
    z-index: 2;
    top: -8px;
    margin: 0;
  }
  #slide-nav #slidemenu .navbar-nav {
    min-width: 0;
    width: 100%;
    margin: 0;
  }
  #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
    min-width: 0;
    width: 80%;
    white-space: normal;
  }
  #slide-nav {
    border-top: 0;
  }
  #slide-nav.navbar-inverse #slidemenu {
    background: #333333;
  }

  /* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
  #slide-nav #navbar-height-col {
    position: fixed;
    top: 0;
    height: 100%;
    width: 80%;
    left: -80%;
    background: #eee;
  }
  #slide-nav.navbar-inverse #navbar-height-col {
    background: #333;
    z-index: 1;
    border: 0;
  }
  #slide-nav .navbar-form {
    width: 100%;
    margin: 8px 0;
    text-align: center;
    overflow: hidden;
    /*fast clearfixer*/
  }
  #slide-nav .navbar-form .form-control {
    text-align: center;
  }
  #slide-nav .navbar-form .btn {
    width: 100%;
  }
}
@media (min-width: 768px) {
  #page-content {
    left: 0 !important;
  }
  .navbar.navbar-fixed-top.slide-active {
    position: fixed;
  }
  .navbar-header {
    left: 0 !important;
  }
}
.bloglist-small {
  margin: 0;
  padding: 0;
}
.bloglist-small .bloglist-small-item {
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: inline;
  padding: 0 0 0 10px;
}
.bloglist-small .bloglist-small-item .date-box {
  width: 60px;
  position: absolute;
  text-align: center;
  border: solid 1px #ddd;
}
.bloglist-small .bloglist-small-item .date-box .day {
  display: block;
  font-size: 24px;
  padding: 12px 0 12px 0;
}
.bloglist-small .bloglist-small-item .date-box .month {
  font-size: 12px;
  display: block;
  color: #fff;
  background: #5CBE6D;
}
.bloglist-small .bloglist-small-item .txt {
  padding-left: 80px;
}
.bloglist-small .bloglist-small-item .txt h5 {
  margin-bottom: 10px;
}
.bloglist-small .bloglist-small-item .txt h5 a {
  color: #0088cc;
}
.button-share {
  float: right;
}
.button-share .social li {
  display: inline;
}
.button-share .social li img {
  width: 20px;
}
.detail-content {
  margin-top: 50px;
}
.article ol {
  margin-left: 1.4em;
  list-style: circle;
}
.article ul {
  margin-left: 1.4em;
  list-style: initial;
}
.carousel-control {
  width: 0!important;
}
.carousel-control .carousel-icon {
  border-color: transparent;
  position: absolute;
  top: 50%;
  margin-top: -3.5em;
  display: inline-block;
  width: 36px;
  height: 4em;
  font-size: 30px;
}
.carousel-control .carousel-icon:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.carousel-control .carousel-icon span {
  border-right-style: solid;
  border-color: transparent;
  border-right-color: white;
}
.carousel-control .carouse-pre span {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  display: block;
  width: 0;
  height: 0;
  border: outset 10px;
  border-color: transparent;
  border-right-style: solid;
  border-right-color: white;
  right: 50%;
  margin-left: -4px;
}
.carousel-control .carouse-next span {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  display: block;
  width: 0;
  height: 0;
  border: inset 10px;
  border-color: transparent;
  border-left-style: solid;
  border-left-color: white;
  left: 50%;
  margin-left: -4px;
}
.tags a {
  float: left;
  color: #777;
  background-color: #E7E7E7;
  border-radius: 3px;
  padding: 2px 6px;
  margin: 0 4px 4px 0;
}
.tags span {
  float: left;
  margin-right: 6px;
}
@media only screen and (max-width: 767px) {
  .fb-comments {
    width: 100% !important;
  }
  .fb-comments iframe[style] {
    width: 100% !important;
  }
  .fb-like-box {
    width: 100% !important;
  }
  .fb-like-box iframe[style] {
    width: 100% !important;
  }
  .fb-comments span {
    width: 100% !important;
  }
  .fb-comments iframe span[style] {
    width: 100% !important;
  }
  .fb-like-box span {
    width: 100% !important;
  }
  .fb-like-box iframe span[style] {
    width: 100% !important;
  }
}
