<!--wrap the page content do not style this-->
 <div id="content">
     <div id="inner-content" class="row clearfix">
        <div id="main" class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
            <article>
              <section>
                <div class="video-responsive">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/t2O_NiRcYnA" frameborder="0" allowfullscreen></iframe>
                </div>
                <h2>TRAVEL LOVE from Christian Grewe on Vimeo</h2>
                <span>Posted by Kristine Logan on March 18, 2014 in Education, Health, Videos</span>
              </section>
              <section>
                 <div class="button-share">
                 Share:
                    <ul class="social">
                      <li><a target="_blank" href="http://facebook.com"><img src="/layouts/web/img/0.410466001373275141facebook.png"></a></li>

                      <li><a target="_blank" href="http://twitter.com"><img src="/layouts/web/img/0.572257001373275165twitter.png"></a></li>

                      <li><a target="_blank" href="http://mail.yahoo.com"><img src="/layouts/web/img/0.660918001373275179email.png"></a></li>

                      <li><a target="_blank" href="http://linked.com"><img src="/layouts/web/img/0.416950001373275196in-footer.png"></a></li>

                      <li><a target="_blank" href="http://google.com"><img src="/layouts/web/img/0.952131001373275203cong.png"></a></li>
                    </ul>
                 </div>
              </section>
              <section class=" detail-content">
                    <div class="widget">
                      <h2 class="widget-title h2" style="font-size:2em">
                        Details
                      </h2>
                    </div>
                    <article class="article">
                        <div>
                              <p>This is your <strong>video description</strong> section where you can explain this video in brief. This section can be edited easily from <em>Dashboard&gt;&gt; Video&gt;&gt; Edit</em>. WordPress provides a visual editor to enter this description with a lot of formatting options, You can highlight important content with <strong>Bold</strong>, <em>Italic</em>, <span style="text-decoration: underline;">Underline</span> options, you can also use ordered and un-ordered lists:</p>
                            <p><strong>Ordered theme feature list:</strong></p>
                            <ol>
                            <ol>
                            <li>Embed <strong>YouTube</strong>, <strong>Vimeo</strong>,<strong> Daily Motion</strong>, etc Videos easily on your website using the embed code they provide</li>
                            <li>Upload a video file from your computer using the <strong>WordPress Media Uploader</strong></li>
                            <li>Along with the embed code you can also use a <strong>direct URL</strong> to of your Video to embed it </li>
                            </ol>
                            </ol>
                            <p><strong>Unordered theme feature list:</strong></p>
                            <ul>
                            <ul>
                            <li>Theme comes with in built customization options which will allow you to <strong>change colors</strong>, add a <strong>background image</strong>, <strong>header image</strong>, etc.</li>
                            <li>We have provided a <strong>custom.css editor</strong> in the back-end which will help you manage your CSS customization easily</li>
                            <li>Theme also comes with <strong>Automatic Updates</strong> which will allow you to update your theme directly from dashboard.</li>
                            </ul>
                            </ul>
                            <p><a title="link" href="http://templatic.com" target="_blank">Hyperlinks</a>, images and basic HTML can also be added in your video description.</p>
                         </div>

                         <div class="pre-next" style="margin-top:60px">
                            <div class="col-md-6 pre-video">
                                <a href="#" style="float:left" class="hidden-xs">
                                  <img src="/layouts/drphil/img/pre.png">
                                  <img src="http://templatic.net/demo/video/wp-content/uploads/sites/2/2014/04/envision-health1-82x58.jpg" width="80" height="60px">
                                </a>
                                <div style="margin-left:10px;float:left">
                                    <span style="font-size:13px">Previous Video</span><br>
                                    <a href="#"><h5 style="font-weight:bold">Test Video 1</h5></a>
                                </div>
                            </div>
                            <div class="col-md-6 next-video">
                              <div style="float:right">
                                <a href="#" style="float:left" class="hidden-xs">
                                  <img src="http://templatic.net/demo/video/wp-content/uploads/sites/2/2014/04/envision-health1-82x58.jpg" width="80" height="60px">
                                </a>
                                <div style="margin-left:10px;float:left">
                                    <span style="font-size:13px">Previous Video</span><br>
                                    <a href="#"><h5 style="font-weight:bold">Test Video 1</h5></a>
                                </div>
                                <a href="#" style="float:left" class="hidden-xs">
                                  <img src="/layouts/drphil/img/next.png">
                                </a>
                              </div>  
                            </div>
                        </div>
                        <div style="clear:both"></div>
                    </article>
              </section>
              <section class="comment" style="margin-top:50px">
                   <h2>Comment </h2>

                    <div class="fb-comments" data-href="http://developers.facebook.com/docs/plugins/comments/" data-numposts="5" data-colorscheme="light" data-width="100%"></div>
              </section>
            </article>
        </div>
        <div id="sidebar" class="visible-lg visible-md col-md-3 col-lg-3"  >
          <?php echo $this->render('part/main/sidebar.phtml'); ?>
        </div>
     </div>
 </div>
  <!-- /.container -->
  
 </div>
 <!-- /#page-content -->
