<tr data-type="TmpFilm" data-id="<?php echo $this->tmp_film_id?>">
    <td><?php echo $this->partialCounter?></td>
    <td>
        <div class="checkbox-custom checkbox-default">
            <input type="checkbox" id="tmp_film_<?php echo $this->tmp_film_id?>" name="tmp_film[]" value="<?php echo $this->tmp_film_id?>" <?php echo ($this->is_checked == 1 ? 'checked="checked"' : '')?> />
            <label for="tmp_film_<?php echo $this->tmp_film_id?>"><?php echo $this->sUntouchedMovieText?></label>
        </div>
    </td>
    <td><?php echo My_View_Admin::isVoice($this,'is_voice')?></td>
    <td><?php echo $this->date_update?></td>
    <td><?php echo $this->last_mapping?></td>
</tr>