<script type="text/javascript">
var filmId = <?php echo (int)$this->film->film_id?>;
</script>
<div class="row">
    <div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>
            <span class="panel-title"><?php echo ucfirst($this->actionName)?></span>
        </header>
        <div class="panel-body">
            .
            <select name="" class="form-control mb-md" data-plugin-selectTwo>
                <?php foreach ($this->list_artist as $tmp) {
                    ?><option value="<?php echo $tmp->artist_id?>"><?php echo $tmp->artist_name?></option><?php
                } ?>
            </select>
            <div>
                <?php if (isset($this->film->list_actor) && count($this->film->list_actor) > 0) foreach ($this->film->list_actor as $artist) {
                    ?>
                    <img src="<?php echo $artist->path?>" width="auto" height="100" />
                    <?php echo $artist->artist_name?>
                    <br/>
                    <?php
                } ?>
            </div>
        </div>
    </section>
    </div>
</div>