<script type="text/javascript">
var filmId = <?php echo (int)$this->film->film_id?>;
function redirectMappingFilm(e) {
    window.location.href = '/film/mapping/id/' + filmId + '/pid/' + $(e).val() + '/';
}
</script>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <form action="" class="form-horizontal form-bordered" method="post">
                <input type="hidden" name="film_id" value="<?php echo $this->film->film_id?>" />
                <input type="hidden" name="p_cinema_id" value="<?php echo $this->pcinema->p_cinema_id?>" />
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>
                    <h2 class="panel-title"><span class="label label-success"><?php echo $this->pcinema->p_cinema_name?></span> <?php echo $this->film->film_name?></h2>
                </header>
                <div class="panel-body">
                    <table class="table mb-none">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Film</th>
                                <th>Voice</th>
                                <th>Last Sync</th>
                                <th>Last Mapping</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php echo $this->partialLoop('film/part/film.phtml', $this->tmp_film)?>
                        </tbody>
                    </table>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-8">
                            <input type="submit" value="Submit" class="btn btn-primary" />
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" data-plugin-selectTwo onchange="redirectMappingFilm(this)">
                            <?php foreach ($this->list_group as $i => $group) {
                                ?><option <?php echo ($group->p_cinema_id == $this->pcinema->p_cinema_id ? 'selected="selected"' : '')?> value="<?php echo $group->p_cinema_id?>"><?php echo $group->p_cinema_name?></option><?php
                            } ?>
                            </select>
                        </div>
                    </div>
                </footer>
            </form>
        </section>
    </div>
</div>