<?php if (!isset($this->form)) return;
	$this->head->appendCss('/layouts/v2/vendor/justified-gallery/justifiedGallery.min.css');
	$this->head->appendJs('/layouts/v2/vendor/justified-gallery/jquery.justifiedGallery.min.js');
?>
<script type="text/javascript">
var galleryId = <?php echo (int)$this->data->gallery_id?>;
</script>
<div class="row">
    <div class="col-lg-12">
        <?php if (isset($_GET['success'])) { ?>
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong>Well done!</strong> Saving data success. <a href="/<?php echo $this->controllerName?>/" class="alert-link">Click here to see more</a>.
        </div>
        <?php } ?>
        <form action="" class="form-horizontal form-bordered" method="post">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>
                    <h2 class="panel-title"><?php echo ucfirst($this->actionName)?></h2>
                </header>
                <div class="panel-body">
                    <?php
                    foreach ($this->form['fields'] as $key => $field) {
                        include sprintf('/../part/%s.phtml', $field['type']);
                    }
                    ?>
					<?php if(isset($this->data->{$this->form['primary']})):?>
					    <section class="panel">
					        <header class="panel-heading">
					            <div class="panel-actions">
					                <a href="#" class="fa fa-caret-down"></a>
					                <a href="#" class="fa fa-times"></a>
					            </div>
					            <span class="panel-title">Gallery</span>
					            <span class="mb-xs mt-xs mr-xs btn btn-xs btn-primary" id="add-image">Add Image</span>
					        </header>
					        <div class="panel-body">
					            <div id="gallery-camera">
									 <?php if (isset($this->data->images) && count($this->data->images) > 0) foreach ($this->data->images as $img) {
					                    ?><a class="item"><img src="<?php echo $img->size1?>" width="auto" height="100" /><span class="delete fa fa-times" data-id="<?php echo $img->image_id?>"></span></a><?php
					                } ?>
					            </div>
					        </div>
					    </section>
					<?php endif;?>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <input type="submit" value="Submit" class="btn btn-primary" />
                            <input type="button" value="Cancel" class="btn btn-default" onclick="window.history.back(-1)" />
                        </div>
                    </div>
                </footer>
            </section>
            <input type="hidden" name="<?php echo $this->form['primary']?>" value="<?php echo isset($this->data->{$this->form['primary']}) ? $this->data->{$this->form['primary']} : ''; ?>" />
            <input type="hidden" name="_controller" value="<?php echo $this->controllerName?>" />
            <input type="hidden" name="_action" value="<?php echo $this->actionName?>" />
            <input type="hidden" name="_form" value="<?php echo $this->form['form']?>" />
            <input type="hidden" name="_ref" value="<?php echo isset($_SERVER['PHP_REFERER']) ? $_SERVER['PHP_REFERER'] : ''; ?>" />
        </form>
    </div>
</div>