<?php
$this->head->prependCss('/layouts/web/css/bootstrap.min.css');
$this->head->prependCss('/layouts/web/css/bootstrap-theme.min.css');
$this->head->prependCss('/layouts/web/css/style.css');

$this->head->prependJs('/layouts/web/js/all.min.js');
header('Content-Type: text/html; charset=utf-8');
header('X-UA-Compatible: IE=edge,chrome=1');
?><!DOCTYPE html>
<html>
<head>
<?php echo $this->headTitle('Dr Phil Show Online')->setSeparator(' » ')?>
<meta name="viewport" content="width=device-width, minimum-scale=1.0" />
<meta name="google-site-verification" content="nHlQsaLbqcKFrZy4V5IDWdBJa8OM5U8g2J8-tFST7-0" />
<?php echo $this->headMeta()?>

<link href="//static-org.vcdn.vn/123fstatic/favicon.ico" rel="icon" />
<?php echo $this->headLink()?>
<?php echo $this->headScript()?>



</head>
<body class="page-<?php echo $this->controllerName?> page-<?php echo $this->controllerName?>-<?php echo $this->actionName?>" data-controller="<?php echo $this->controllerName?>" data-action="<?php echo $this->actionName?>">
    <?php include '_header.php'; ?>
    <?php echo $this->layout()->content?>
    <?php include '_footer.php'; ?>
</body>
</html>
