 <div class="login-page content">
  <div class="formlogin">
    <div style="color:#FFFFFF;background: red"><?php echo $this->error;?></div>
    <form class="login-form" action="/login" method="post">
      <input type="text" placeholder="username" name="username"/>
      <input type="password" placeholder="password" name="password"/>
      <button>login</button>
      <p class="message">Not registered? <a href="/login/register">Create an account</a></p>
      <p class="message">Forgot Password? <a href="/contact">Contact</a></p>
    </form>
  </div>
<style type="text/css">
	@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.formlogin {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.formlogin input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.formlogin button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.formlogin button:hover,.formlogin button:active,.formlogin button:focus {
  background: #43A047;
}
.formlogin .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.formlogin .message a {
  color: #4CAF50;
  text-decoration: none;
}
.formlogin .register-form {
  display: none;
}

</style>