 <div class="login-page content">

  <div class="formlogin">
   <div id="error"><?php echo $this->error;?></div>
   <?php if($this->registersuccess){?>
      <div style="color:green">Congratulation! You are registed success <a href="/" style="color:white;padding: 2px;background: blue">Login</a></div>
   <?php }else{?>
    <form class="register-form" action="/login/register" method="post">
      FullName <span style="color:red">(*)</span>: <input type="text" placeholder="Name"  required name="fullname"/>
      UserName <span style="color:red">(*)</span>: <input type="text" placeholder="Username" required name="username" pattern="[a-zA-Z0-9]+"/>
      PassWord <span style="color:red">(*)</span>:<input id="password" type="password" placeholder="Password" required name="password" />
      Re-PassWord <span style="color:red">(*)</span>:<span id='message'></span><input id="confirm_password" type="password" placeholder="Password" required name="repassword"/>

      Email <span style="color:red">(*)</span>:<input type="email"  placeholder="Email address" required name="email"/>
      Facebook:<input type="text" name="facebook" placeholder="Facebook address"/>
      <button>create</button>
      <p></p>
      <p class="message">Already registered? <a href="/login">Sign In</a></p>
    </form>
    <?php }?>
  </div>
<style type="text/css">
	@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.formlogin {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 560px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.formlogin input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.formlogin button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.formlogin a{
  padding: 2px;
  color:white;
  background-color: blue;
}
.formlogin button:hover,.formlogin button:active,.formlogin button:focus {
  background: #43A047;
}
#message{
  padding: 3px;
  color:#FFFFFF;
}
#error{
  background:red;
  color: #FFFFFF;
}

</style>
<script>
$('#password, #confirm_password').on('keyup', function () {
  if ($('#password').val() == $('#confirm_password').val()) {
    $('#message').html('Matching').css('background-color', 'green');
  } else 
    $('#message').html('Not Matching').css('background-color', 'red');
});
</script>