<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>
                <span class="panel-title"><?php echo ucfirst($this->actionName != 'index' ? $this->actionName : 'list')?></span>
                <?php if ($this->actionName == 'recommend') {
                    ?><a class="btn btn-xs btn-primary" href="/film/detail-recommend/">Add</a><?php
                } ?>
            </header>
            <div class="panel-body">

                <?php if (!empty($this->sort)) { ?>
                <form method="GET" action="/<?php echo $this->controllerName?>/" class="form-horizontal form-bordered">
                    <div class="form-group">
                    <?php foreach ($this->form['sort'] as $key => $field) {
                        include sprintf('part/%s.phtml', $field['type']);
                    } ?>
                    </div>
                </form>
                <?php } ?>

                <div class="table-responsive">
                    <?php if (is_array($this->list) && count($this->list) > 0) { ?>
                    <table class="table mb-none">
                        <thead>
                            <tr>
                                <?php foreach ($this->form['listview']['colums'] as $name) {
                                    ?><th><?php echo $name?></th><?php
                                } ?>
                            </tr>
                        </thead>
                        <tbody>
                            <?php echo $this->partialLoop(sprintf('part/list/%s.phtml', $this->form['listview']['part']), $this->list)?>
                        </tbody>
                    </table>
                    <?php } else {
                        ?><div class="alert alert-warning" align="center">Empty Data</div><?php
                    } ?>
                </div>
            </div>
        </section>
        <?php echo $this->render('_pagination.phtml'); ?>
    </div>
</div>