 <?php if(isset( $this->user->fullname)){?>
<div class="Box content" >
          <div class="row">
                    <div class="small-2 columns">
                      <div id="ember1627" class="ember-view">    <div class="avatar avatar-overlay"></div>
                          <img src="/layouts/drphil/img/account.png" alt="" class="avatar">
                      </div>
                    </div>
                    <div class="small-7 columns">
                        <h2 class="username"><?php echo $this->user->fullname;?> | <a class="pw-button" href="/login/logout/" title="Sign Out">Sign Out</a></h2>
                        <ul class="List--noBullets">
                          <li>Balance: <a class="pw-button" href="#"><?php echo $this->user->money;?>$</a></li>
                          <li><?php echo $this->user->email;?></li>
                          <li>Member since <?php echo $this->user->date_add;?></li>
                          <li>Change PassWord: <a class="pw-button" href="/myaccount/changepw">Change</a></li>
                        </ul>
                    </div>

        </div>
  </div>
  <div class="Box">
    <h3 ><span class="payment">Paypal Payment</span></h3>

<!--Payment -->
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" id="payment_form">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="7YV99DZLTDU5W">
      <table>
      <tr><td><input type="hidden" name="on0" value="Price">Price</td></tr><tr><td><select name="os0" onchange="myprice(this)">
        <option value="Option1">Option1 $10 USD</option>
        <option value="Option2">Option2 $25 USD</option>
        <option value="Option3">Option3 $50 USD</option>
        <option value="Option4">Option4 $100 USD</option>
        <option value="Option5">Option5 $250 USD</option>
        <option value="Option6">Option6 $500 USD</option>
        <option value="Option7">Option7 $1,000 USD</option>
      </select> </td></tr>
      </table>
      <div class="col-md-6 col-lg-6 columns" style="font-size: 20px">This will get you one month with our $10 droplet</div>.
      <input type="hidden" name="currency_code" value="USD">
      <input type="hidden" name="return" id="paypal_success" value="http://drphiltoday.com/payment/success?user_id=<?php echo $this->user->user_id;?>&price=10">
      <input type="hidden" name="cancel_return" value="http://drphiltoday.com/payment/cancel">
  </form>
  <div  class="col-md-12 col-lg-12 columns" style="height: 100px;">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" id="paypal_submit" border="0" name="submit"  alt="PayPal - The safer, easier way to pay online!">
  </div>
    <p style="clear: both"></p>
    <h2 style="margin-top:10px"><span class="payment" style="background: green">GUIDE TO PAYMENT NOTICE (IMPORTANT)</span></h2>
    <img width="100%" src="/layouts/drphil/img/paypalsucess.png">
  </div>

<?php }else{?>
<div   class="reg content">
 <div  class="col-md-6 col-lg-6 columns"><img src="/layouts/drphil/img/avatar.png" width="100px" height="100px" style="float:right"></div>
 <div  class="col-md-6 col-lg-6 columns">
 <a href="/login" title="Login" class="pw-button">Login Now</a>
 <a href="/login/register" title="Register" class="pw-button">Register</a>
 </div>
</div>
<?php }?>
<style type="text/css">
#paypal_submit{
  width: 250px;
}

  .reg {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 560px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.payment{
    color: #FFFFFF;
    background-color: red;
    padding: 5px;
}
select {
    border: 1px solid #dfdfdf;
    padding: 1rem;
    color: #444;
    border-radius: 3px;
    transition: all .2s ease-in-out;
    outline: 0;
    display: inline-block;
    margin-bottom: 1rem;
    text-align: left;
}
.paypal {
    color: #fff;
    background: #0069ff;
    border-color: #0069ff;
    border: 1px solid #ececec;
    padding: 10px;
    line-height: 3rem;
    width: 100%;
    font-size: 20px;
}


.t-box{
   padding-top: 2px;
   padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1260px;
}
  
  .Box {
    border: 2px solid #f1f1f1;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1260px;
}

.row {
    width: auto;
    max-width: none;
    margin: 0 -.5rem;
}
.small-2 {
    width: 16.66667%;
}

.column, .columns {
    position: relative;
    padding-left: .5rem;
    padding-right: .5rem;
    float: left;
}
.small-7 {
    width: 58.33333%;
    margin: 10px;
}

.pw-button {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 4px 8px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    color: #FFFFFF;
    background-color: #4CAF50;
}

</style>
<script type="text/javascript">
  var arr = [];
  var fi_price = 10;
  arr["Option1"] = 10;
  arr["Option2"] = 25;
  arr["Option3"] = 50;
  arr["Option4"] = 100;
  arr["Option5"] = 250;
  arr["Option6"] = 500;
  arr["Option7"] = 1000;
var url_payment = document.getElementById('paypal_success').value;

  function myprice(obj) {
      var price = arr[obj.value];
      url_payment = url_payment.substring(0, url_payment.indexOf('price='));
      url_payment = url_payment + "price=" + price;
      document.getElementById('paypal_success').value = url_payment;
      fi_price = price;

  }

   $("#paypal_submit").click(function(event) {
    $.ajax({
          type: "post",
          url: "http://<?php echo $_SERVER['SERVER_NAME'];?>/payment/temp",
          data: { user_id: "<?php echo $this->user->user_id?>", price:  fi_price},
          contentType: "application/x-www-form-urlencoded",
          success: function(responseData, textStatus, jqXHR) {
             if(responseData != "false"){
                $("#payment_form").submit();
             }
          },
          error: function(jqXHR, textStatus, errorThrown) {
              console.log(errorThrown);
          }
      });
    });
</script>