
<?php
    $this->headTitle($this->detail->meta_title);
    $this->headMeta()->appendName('keywords', $this->detail->meta_keyword);
    $this->headMeta()->appendName('description', $this->detail->meta_description);
?>
<!--wrap the page content do not style this-->
 <div id="content">
     <div id="inner-content" class="row clearfix">
        <div id="main" class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
            <article>
              <section>
                <div class="video-responsive">
                  <?php $source = My_View_Report::getVideosNoForce($this->detail, $this->user, $this->video_ip); echo $source;?>
                    
                </div>
                <h2><?php echo $this->detail->product_name?></h2>
                <span>Posted by Kristine Logan on March 18, 2014 in Education, Health, Videos</span>
              </section>
              <section>
                 <?php echo $this->render('/category/part/share.phtml')?>
              </section>
              <section class=" detail-content">
                <?php echo $this->render('/category/part/content.phtml')?>
              </section>
              <section class="comment" style="margin-top:50px">
                <?php echo $this->render('/category/part/comment.phtml')?>
              </section>
            </article>
        </div>
        <div id="sidebar" class="visible-lg visible-md col-md-3 col-lg-3"  >
          <?php echo $this->render('/category/part/sidebar.phtml'); ?>
        </div>
     </div>
 </div>
  <!-- /.container -->
  
 </div>
 <!-- /#page-content -->
