  <div class="content">
  <?php foreach ($this->getall as $key => $item):?>

<div class="Box">
      <h6><a href="<?php echo $item->url_short?>" title="<?php echo $item->product_name?>"><?php echo $item->product_name?></a> (<span class="byline"> <cite class="fn"><i class="fa fa-clock-o"></i> <?php  echo date("F j, Y", strtotime($item->publish_date));?></cite></span>)</h6>
</div>
<?php endforeach;?>
</div>
<style type="text/css">
   .Box {
    border: 2px solid #f1f1f1;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1260px;
}

</style>