<!--wrap the page content do not style this-->
 <div id="content">
     <div id="inner-content" class="row clearfix">
        <div id="main" class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
            <article>
              <section class="widget">
              <?php echo $this->render('/part/listvideo/category.phtml');?>
              </section>
            </article>
        </div>
        <div id="sidebar" class="visible-lg visible-md col-md-3 col-lg-3"  >
          <?php echo $this->render('part/main/sidebar.phtml'); ?>
        </div>
     </div>
 </div>
  <!-- /.container -->
  
 </div>
 <!-- /#page-content -->
