<div class="Box content" >
          
<h1>Contact Form</h1>
   <div style="color:white;background: red"><?php echo $this->error;?></div>
   <?php if($this->registersuccess){?>
      <div style="color:green">Thanks For Your Message Contact. I will Check And Answer You Soon. Pleasa Check Mail in 24h. <a href="/" style="color:white;padding: 2px;background: blue">Back Home</a></div>
   <?php }else{?>
<form class="register-form" action="/contact" method="post">
  <div class="half left cf">
    <span style="color:red">(*)</span><input type="email" name="email" placeholder="Email address" required> 
    <span style="color:red">(*)</span><input type="text" name="subject" placeholder="Subject" required>
    <span style="color:red">(*)</span><textarea name="message" type="text" id="input-message" placeholder="Message" required></textarea>
  </div>
  <div class="half right cf">
    If you want to contact me ( Cornelius Goebel) more please send message via Email: <b>corneliusnonul@gmail.com</b>
  </div>  
  <button name="submit">Send</button>
</form>
<?php }?>
</div>
<style type="text/css">
.half {
    float: left;
    width: 48%;
    margin-bottom: 1em;
}
.right {
    width: 50%;
}
.left {
    margin-right: 2%;
}
input, textarea, select {
     font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
textarea{
	height: 126px;
}

 button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.Box {
    border: 2px solid #f1f1f1;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1260px;
}
</style>