.bloglist-small {
	margin: 0;
	padding: 0;
	.bloglist-small-item {
		padding-bottom: 10px;
		margin-bottom: 10px;
		display: inline;
		padding: 0 0 0 10px;
		.date-box {
			width: 60px;
			position: absolute;
			text-align: center;
			border: solid 1px #ddd;
			.day {
				display: block;
				font-size: 24px;
				padding: 12px 0 12px 0;
			}
			.month {
				font-size: 12px;
				display: block;
				color: #fff;
				background: #5CBE6D;
			}
		}
		.txt {
			padding-left: 80px;
			h5 {
			margin-bottom: 10px;
				a{
				color:#0088cc;
				}
			}
		}
	}
}