header{
  margin-bottom: 20px;
}

.inner-header{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1230px;
  .columns{
    position: relative;
    padding-left: 1.07143rem;
    padding-right: 1.07143rem;
    float: left;
  }
  h1 {
    margin-top: 5px;
    small{
      display: block;
      font-size: 35%;
      line-height: 1;
      font-weight: bold;
    }
  }
  .menu-bar{
    border:1px solid rgb(234, 231, 231);
    border-radius: 5px;
    .search{
      float: right;
      margin:6px;
      .s-text{
        display: block;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      }
      .s-submit{
        height: 33px;
        background-image: url(http://templatic.net/demo/wp-content/themes/videobower/library/images/search-icon.png);
        background-repeat: no-repeat;bottom: 0;
        background-position: center center;
        background-color: transparent !important;
        border: none !important;
        margin: 0;
        position: absolute;
        right: 20px;
        top:7px;
        width: 40px;
        border-radius: 5px;
      }
    }
  }
}

#inner-content{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1260px;
  #main{
      padding-right:10px;
      .video-responsive{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
         iframe{
            left:0;
            top:0;
            height:100%;
            max-height: 500px;
            width:100%;
            position:absolute;
        }
      }
      .second{
        margin-top:50px;
      }
      .main-view{
        .item{
          margin-bottom: 2em;
        }
      }

  }
  #sidebar{
    padding-left:15px;
    padding-right:15px;
    #adv_widget-2{
      .advt-2c img:first-child{
        margin-right: 1.14286em;
      }
       .thumb-img{margin-bottom: 30px}
    }
    #adv_widget-1{
      padding-right:15px;
      .advt-1c {
        img{margin-bottom: 1em;width:100%}
      }
    }
  }
 
}
.widget{
  .h2{
    font-size: 1.57143rem;
    margin: 20px 0;
    padding: 0 0 12px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #bfbfbf;
    position: relative;
    &:before{
      content: "";
      background-color: #bfbfbf;
      height: 0.21429rem;
      position: absolute;
      bottom: -2px;
      width: 3.57143rem;
    }
  }
   small {
    font-family: 'Roboto Condensed';
    font-weight: 300;
    color: #939393;
    font-size: 12px;
    display: block;
    font-family: "Roboto Slab", Helvetica, Arial;
  }
  .widget-text{
    padding:5px;
  }
  ul{
    margin: 0;
    li{
      color: #a2a2a2;
      display: inline-block;
      width: 50%;
      padding-right: 5%;
      vertical-align: top;
      text-align: right;
      border-bottom: 1px solid #ebebeb;
      padding-bottom: 5px;
      margin-bottom: 5px;
      margin-right: -4px;
      font-size: 0.92857em;
      text-align: left;
    }
  }
  .view-desc{
    h6 {
      font-weight: bold;
      color: gray;
      margin-bottom: 0;
      line-height: 1.2;
      overflow: hidden;
      }
      height: 4em;
      .byline{
        color:#999;
        font-style: normal;
      }
  }
  .view-img{
    overflow: hidden;
      a{
         display: block;
         position: relative;
         img{
          width: 100%;
          height: 100%;
          transition: all 200ms;
         }
         .video-overlay{
          transition: all 0.2s ease-in-out;
          opacity: 0;
          background-color: rgba(0, 0, 0, 0.5);
          bottom: 0;
          left: 0;
          position: absolute;
          right: 0;
          text-align: center;
          top: 0;
          vertical-align: middle;
          i {
            color: #8a1806;
            font-size: 1.85714em;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -16px;
            margin-left: -25px;
            width: 60px;
            height: 60px;
            background-image: url("/layouts/drphil/img/youtube.png");
            background-size: 60px;
            background-repeat: no-repeat;
            }
         }
        
        &:hover{
          .video-overlay{
            display: block;
            opacity: 1;
          }
        }
      }
    } 

  .item-small{
    width: 100%;
    padding: 0;
    margin-bottom: 1.07143rem;
    padding-bottom: 1.07143rem;
    border-bottom: 1px solid #e0e0e0;
    .view-img{
      width: 25%;
      float: left;
      a{
        .video-overlay{
            i {
              margin-top: -16px;
              margin-left: -15px;
              width: 30px;
              height: 30px;
              background-size: 30px;
            }
        }
      }
    }
    .view-desc{
      width: 75%;
      float: left;padding-left: 5px;
      h6{
        font-weight: bold;
        color: gray;
        margin: 0;
        line-height: 1.2;
      }
      .byline{
          color: #999;
      }
    }
  }
}
 
footer{
  clear: both;
  margin-top: 5em;
  #inner-footer{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1260px;
    background-color:rgba(244, 244, 244, 1);
  }
}




 /* adjust body when menu is open */
body.slide-active {
    overflow-x: hidden
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px!important
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
    position: relative;
    padding-top: 70px;
    left: 0;
}
#page-content.slide-active {
    padding-top: 0
}
/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    height: 40px;
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;
}
/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
}
#slide-nav .navbar-toggle.slide-active .icon-bar {
    background: orange
}
.navbar-header {
    position: relative
}
/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
    position: relative
}



/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width:767px) { 
  #slide-nav .container {
      margin: 0;
      padding: 0!important;
  }

  #content{
    margin-top:70px;
  }
  #slide-nav .navbar-header {
      margin: 0 auto;
      padding: 0 15px;
  }
  #slide-nav .navbar.slide-active {
      position: absolute;
      width: 80%;
      top: -1px;
      z-index: 1000;
  }
  #slide-nav #slidemenu {
      background: #f7f7f7;
      left: -100%;
      width: 80%;
      min-width: 0;
      position: absolute;
      padding-left: 0;
      z-index: 2;
      top: -8px;
      margin: 0;
  }
  #slide-nav #slidemenu .navbar-nav {
      min-width: 0;
      width: 100%;
      margin: 0;
  }
  #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
      min-width: 0;
      width: 80%;
      white-space: normal;
  }
  #slide-nav {
      border-top: 0
  }
  #slide-nav.navbar-inverse #slidemenu {
      background: #333
  }
  /* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
  #slide-nav #navbar-height-col {
      position: fixed;
      top: 0;
      height: 100%;
      width: 80%;
      left: -80%;
      background: #eee;
  }
  #slide-nav.navbar-inverse #navbar-height-col {
      background: #333;
      z-index: 1;
      border: 0;
  }
  #slide-nav .navbar-form {
      width: 100%;
      margin: 8px 0;
      text-align: center;
      overflow: hidden;
      /*fast clearfixer*/
  }
  #slide-nav .navbar-form .form-control {
      text-align: center
  }
  #slide-nav .navbar-form .btn {
      width: 100%
  }
}
@media (min-width:768px) { 
  #page-content {
      left: 0!important
  }
  .navbar.navbar-fixed-top.slide-active {
      position: fixed
  }
  .navbar-header {
      left: 0!important
  }
}