/*======================================================================
================== global Variables ===========================================
======================================================================*/

@site-width:1260px;
@main-width:930px;

//backgroud color
@body-background-color: #ffffff;
@review-bacground-color: rgba(239,246,37,0.5);
@poster-background-color: #ffffff;
@comming-background-color: #ffffff;
@news-bacground-color: rgba(72,194,66,0.5);
@zingNews-background-color: #ffffff;
@123mua-background-color: #ebebeb;
@footer-background-color: #363636;
@footer-static-background-color: #2b2b2b;

@orange: #f79320;
@blue: #4374b9;
@bluelight: #60c5ef;
@green:#64bd60;
@green-checkout: #1eb947;
@yellow:#ffcc27;
@backgroud-menu: rgba(100, 189, 96 , 0.5);
@grey : #888;

//text color
@text-color-1: #464646;
@text-color-2: #939393;
@text-color-3: #666666;
@text-color-4: #363636;
@text-color-5: #797979;
@text-color-6: #999999;
//footer text color
@footer-text-color-1: #64bd60;
@footer-text-color-2: #60c5ef;
@footer-text-color-3: #4374b9;
@footer-text-color-4: #f79320;
@footer-text-color-5: #ffcc27;
@footer-list-text-color: #808080;
//text font
@font-main: "Roboto Condensed", Helvetica, Arial;
@font-secondary: "Roboto Slab", Helvetica, Arial;
// text size
@font-size-0: 26px;
@font-size-1: 18px;
@font-size-2: 15px;
@font-size-3: 13px;
@font-size-4: 12px;
@font-size-5: 10px;


// spacing
@space-1:10px;
@space-2:20px;

.box-sizing {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

.unselect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.rad {
  border-radius:3px;
}

.inline {
  display:inline-block;
}

.trans-bg {
  transition: background-color 0.2s ease;
}

.trans-border {
  transition: border-width 0.2s ease;
}

.colorGreen {
	color: @green;
}

.colorOrange {
	color: @orange;
}

.colorBluelight {
	color: @bluelight;
}

.colorBlue {
	color: @blue;
}

.colorYellow {
	color: @yellow;
}

.colorGrey {
  color:#989898;
}

.colorLightGrey {
   color:#cccccc;
}
/*======================================================================
================== My mixin ===========================================
======================================================================*/
