.button-share{
	float: right;
	.social{
		li{
			display: inline;
			img{
				width: 20px;
			}
		}
	}
}
.detail-content{
	margin-top:50px;
}
.article{
	ol{
		margin-left: 1.4em;
		list-style: circle;
	}
	ul{
		margin-left: 1.4em;
		list-style: initial;
	}
}

.carousel-control{
	width: 0!important;
	.carousel-icon{
		border-color: transparent;
		position: absolute;
		top: 50%;
		margin-top:-3.5em;
		display: inline-block;
		width: 36px;
		height: 4em;
		font-size: 30px;
		&:hover{
			background-color: rgba(0, 0, 0, 0.3);
		}
		span{
			border-right-style: solid;
			border-color: transparent;
			border-right-color: white;
		}
	}
	.carouse-pre {
		span{
			position: absolute;
			top: 50%;
			margin-top: -10px;
			display: block;
			width: 0;
			height: 0;
			border: outset 10px;
			border-color: transparent;
			border-right-style: solid;
			border-right-color: white;
			right: 50%;
			margin-left: -4px;
		}
	}
	.carouse-next{
		span{
			position: absolute;
			top: 50%;
			margin-top: -10px;
			display: block;
			width: 0;
			height: 0;
			border: inset 10px;
			border-color: transparent;
			border-left-style: solid;
			border-left-color: white;
			left: 50%;
			margin-left: -4px;
		}
	}
}

.tags {
	a {
		float: left;
		color: #777;
		background-color: #E7E7E7;
		border-radius: 3px;
		padding: 2px 6px;
		margin: 0 4px 4px 0;
	}
	span {
		float: left;
		margin-right: 6px;
	}
}
@media only screen and (max-width: 767px) {
   .fb-comments {
    width: 100% !important;
   }
.fb-comments iframe[style] {
   width: 100% !important;
  }
.fb-like-box {
   width: 100% !important;
  }
.fb-like-box iframe[style] {
   width: 100% !important;
  }
.fb-comments span {
   width: 100% !important;
  }
.fb-comments iframe span[style] {
   width: 100% !important;
  }
.fb-like-box span {
   width: 100% !important;
  }
.fb-like-box iframe span[style] {
   width: 100% !important;
  }
}