<tr data-type="Artist" data-id="<?php echo $this->artist_id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><a href="/artist/detail/id/<?php echo $this->artist_id?>/"><img src="<?php echo $this->path?>" width="50" height="50" alt="<?php echo $this->artist_name?>" /></a></td>
    <td><a href="/artist/detail/id/<?php echo $this->artist_id?>/"><?php echo $this->artist_name?></a></td>
    <td><?php echo My_View_Admin::isActive($this)?></td>
</tr>