<tr data-type="Campaign" data-id="<?php echo $this->campaign_id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><a href="/campaign/detail/id/<?php echo $this->campaign_id?>/"><?php echo $this->campaign_name?></a></td>
    <td><?php echo $this->sms_content?></td>
    <td><?php echo $this->date_update?></td>
    <td><?php echo My_View_Admin::isActive($this)?></td>
</tr>