<tr data-type="Category" data-id="<?php echo $this->category_id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><a href="/admin/category/detail/id/<?php echo $this->category_id?>/"><?php echo $this->category_name?></a></td>
    <td><?php echo My_View_Admin::isActive($this)?></td>
</tr>