<tr data-type="Comment" data-id="<?php echo $this->comment_id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><img src="<?php echo $this->avatar?>" width="50" height="50" alt="<?php echo $this->avatar?>" /></td>
    <td>
        <a href="/comment/detail/id/<?php echo $this->comment_id?>/"><?php echo $this->fullname?></a>
        <br/><span style="font-size:10px;color:#ccc"><?php echo $this->date_update?></span>
    </td>
    <td>
        <?php if (isset($this->news_title)) {
            ?><a href="?news_id=<?php echo $this->news_id?>"><?php echo $this->news_title?></a><br/><?php
        } elseif (isset($this->film_name)) {
            ?><a href="?film_id=<?php echo $this->film_id?>"><?php echo $this->film_name?></a><br/><?php
        } ?>

        <?php echo $this->content?>
    </td>
    <td><?php echo My_View_Admin::isActive($this)?></td>
</tr>