<tr data-type="menu" data-id="<?php echo $this->menu_id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><a href="/admin/menu/detail/id/<?php echo $this->menu_id?>/"><?php echo $this->menu_name?></a></td>
    <td><?php echo $this->url?></td>
    <td><span style="background-color:green;padding:2px 5px;border-radius:2px;color:#fff"><?php echo $this->number?></span></td>
    <td><?php echo My_View_Admin::isActive($this)?></td>
    <td class="actions" style="vertical-align:top"><a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a></td>
</tr>