<tr data-type="Trailer" data-id="<?php echo $this->trailer_id?>">
    <td><?php echo $this->partialCounter?></td>
    <td><img src="<?php echo $this->thumbnail?>" width="50" height="50" /></td>
    <td><a href="/trailer/detail/id/<?php echo $this->trailer_id?>/"><?php echo $this->title?></a></td>
    <td><a href="?film_id=<?php echo $this->film_id?>"><?php echo $this->film_name?></a></td>
    <td><?php echo $this->duration?></td>
    <td><?php echo My_View_Admin::isActive($this)?></td>
</tr>