<h3 class="widget-title h2">Test 2</h3>
<ul>
	<li class="cat-item cat-item-18"><a href="http://templatic.net/demo/video/videoscategory/animation-videos/" title="This is a category description of your Video category, you can use this section to explain what kind of videos will be published under this category. You can edit this section easily from Dashboard>> Video>> Category>>Edit.">Animation</a>
	</li>
		<li class="cat-item cat-item-234"><a href="http://templatic.net/demo/video/videoscategory/art/" title="This is a category description of your Video category, you can use this section to explain what kind of videos will be published under this category. You can edit this section easily from Dashboard>> Video>> Category>>Edit.">Art</a>
	</li>
		<li class="cat-item cat-item-15"><a href="http://templatic.net/demo/video/videoscategory/education/" title="This is a category description of your Video category, you can use this section to explain what kind of videos will be published under this category. You can edit this section easily from Dashboard>> Video>> Category>>Edit.">Education</a>
	</li>
		<li class="cat-item cat-item-12"><a href="http://templatic.net/demo/video/videoscategory/health/" title="This is a category description of your Video category, you can use this section to explain what kind of videos will be published under this category. You can edit this section easily from Dashboard>> Video>> Category>>Edit.">Health</a>
	</li>
		<li class="cat-item cat-item-232"><a href="http://templatic.net/demo/video/videoscategory/life/" title="This is a category description of your Video category, you can use this section to explain what kind of videos will be published under this category. You can edit this section easily from Dashboard>> Video>> Category>>Edit.">Life</a>
	</li>
		<li class="cat-item cat-item-233"><a href="http://templatic.net/demo/video/videoscategory/nature/" title="This is a category description of your Video category, you can use this section to explain what kind of videos will be published under this category. You can edit this section easily from Dashboard>> Video>> Category>>Edit.">Nature</a>
	</li>
		<li class="cat-item cat-item-19"><a href="http://templatic.net/demo/video/videoscategory/others/" title="This is a category description of your Video category, you can use this section to explain what kind of videos will be published under this category. You can edit this section easily from Dashboard>> Video>> Category>>Edit.">Others</a>
	</li>
		<li class="cat-item cat-item-11"><a href="http://templatic.net/demo/video/videoscategory/science/" title="This is a category description of your Video category, you can use this section to explain what kind of videos will be published under this category. You can edit this section easily from Dashboard>> Video>> Category>>Edit.">Science</a>
	</li>
		<li class="cat-item cat-item-14"><a href="http://templatic.net/demo/video/videoscategory/sports/" title="This is a category description of your Video category, you can use this section to explain what kind of videos will be published under this category. You can edit this section easily from Dashboard>> Video>> Category>>Edit.">Sports</a>
	</li>
		<li class="cat-item cat-item-86"><a href="http://templatic.net/demo/video/videoscategory/technology/" title="This is a category description of your Video category, you can use this section to explain what kind of videos will be published under this category. You can edit this section easily from Dashboard>> Video>> Category>>Edit.">Technology</a>
	</li>
		<li class="cat-item cat-item-16"><a href="http://templatic.net/demo/video/videoscategory/travel/" title="This is a category description of your Video category, you can use this section to explain what kind of videos will be published under this category. You can edit this section easily from Dashboard>> Video>> Category>>Edit.">Travel</a>
	</li>
		<li class="cat-item cat-item-196"><a href="http://templatic.net/demo/video/videoscategory/videos/" title="This is a category description of your Video category, you can use this section to explain what kind of videos will be published under this category. You can edit this section easily from Dashboard>> Video>> Category>>Edit.">Videos</a>
	</li>
</ul>