<h3 class="widget-title h2">Test 3</h3>
<div class="bloglist-small">
    <div class="bloglist-small-item">
        <div class="date-box">
            <span class="day">28</span>
            <span class="month">SEP</span>
        </div>
        <div class="txt">
            <h5><a href="css/#">Lorem ipsum sit amet</a></h5>
            <div>
                <div>Sed ut perspiciatis unde omnis iste natus error</div>
            </div>
        </div>
    </div>
    <div class="bloglist-small-item">
        <div class="date-box">
            <span class="day">26</span>
            <span class="month">SEP</span>
        </div>
        <div class="txt">
            <h5><a href="css/#">Lorem ipsum sit amet</a></h5>
            Sed ut perspiciatis unde omnis iste natus error
        </div>
    </div>
</div>