
<h3 class="widget-title h2">About us</h3>
<div class="widget-text">
	Create a 
	<strong>beautiful video portal</strong> 
	using this sleek looking theme. 
	Our primary goal while creating the theme was it should work faster then any theme we created till date, 
	the demo site shows this works fast. <br>
	<a href="http://templatic.com/app-themes/wordpress-video-theme/">
	Purchase this theme</a>
</div>
<div class="social-icons" style="margin:10px;">
    <a href="#">
        <img src="/layouts/drphil/img/social-icons/facebook.png" alt=""></a>
    <a href="#">
        <img src="/layouts/drphil/img/social-icons/twitter.png" alt=""></a>
    <a href="#">
        <img src="/layouts/drphil/img/social-icons/dribbble.png" alt=""></a>
    <a href="#">
        <img src="/layouts/drphil/img/social-icons/blogger.png" alt=""></a>
    <a href="#">
        <img src="/layouts/drphil/img/social-icons/youtube.png" alt=""></a>
    <a href="#">
        <img src="/layouts/drphil/img/social-icons/vimeo.png" alt=""></a>
</div>