@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(//fonts.gstatic.com/s/robotocondensed/v10/b9QBgL0iMZfDSpmcXcE8nCDU3Wkb6Pjj9hGJWHlN9xM.woff2) format('woff2'), url(//fonts.gstatic.com/s/robotocondensed/v10/b9QBgL0iMZfDSpmcXcE8nDe1_JO-tKU0DX-oOxNOeLI.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(//fonts.gstatic.com/s/robotocondensed/v10/Zd2E9abXLFGSr9G3YK2MsFdJ_1rrj2ZjOK53P0BoXuI.woff2) format('woff2'), url(//fonts.gstatic.com/s/robotocondensed/v10/Zd2E9abXLFGSr9G3YK2MsO3ikv6SQm_yYbVf3nddkGw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(//fonts.gstatic.com/s/robotocondensed/v10/b9QBgL0iMZfDSpmcXcE8nNNRqA5ZDnbMh6BtYPKXc8s.woff2) format('woff2'), url(//fonts.gstatic.com/s/robotocondensed/v10/b9QBgL0iMZfDSpmcXcE8nBKwp2topvuiF0zixBsDXDo.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(//fonts.gstatic.com/s/robotocondensed/v10/mg0cGfGRUERshzBlvqxeAFH7i9rihfWetzQBxOXN-vQ.woff2) format('woff2'), url(//fonts.gstatic.com/s/robotocondensed/v10/mg0cGfGRUERshzBlvqxeAJq71tKx3-6xT_AfMSM9rug.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(//fonts.gstatic.com/s/robotocondensed/v10/BP5K8ZAJv9qEbmuFp8RpJTXYwwY3noVKJNRhHbGr3Fs.woff2) format('woff2'), url(//fonts.gstatic.com/s/robotocondensed/v10/BP5K8ZAJv9qEbmuFp8RpJQqS5meh96WWuruvum-IKnk.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(//fonts.gstatic.com/s/robotocondensed/v10/mg0cGfGRUERshzBlvqxeAHCbAg2QMmDWvcHPRtSEILw.woff2) format('woff2'), url(//fonts.gstatic.com/s/robotocondensed/v10/mg0cGfGRUERshzBlvqxeAAgZhTLOWytQo7kSNu-ehSU.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Slab Thin'), local('RobotoSlab-Thin'), url(//fonts.gstatic.com/s/robotoslab/v4/MEz38VLIFL-t46JUtkIEgIGic_6wCzhZT_6GvPqJ1BE.woff2) format('woff2'), url(//fonts.gstatic.com/s/robotoslab/v4/MEz38VLIFL-t46JUtkIEgJaogtQUvXTzjB6xzJkoFJY.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(//fonts.gstatic.com/s/robotoslab/v4/dazS1PrQQuCxC3iOAJFEJf_WzOtAn2bfVruHu-Zkc1M.woff2) format('woff2'), url(//fonts.gstatic.com/s/robotoslab/v4/dazS1PrQQuCxC3iOAJFEJf25ds880Du_gFZbUlZlsbg.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(//fonts.gstatic.com/s/robotoslab/v4/3__ulTNA7unv0UtplybPiltXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(//fonts.gstatic.com/s/robotoslab/v4/3__ulTNA7unv0UtplybPij8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(//fonts.gstatic.com/s/robotoslab/v4/dazS1PrQQuCxC3iOAJFEJe1D72Odf4OjIqZb-Gnl-lg.woff2) format('woff2'), url(//fonts.gstatic.com/s/robotoslab/v4/dazS1PrQQuCxC3iOAJFEJZXMLUeV6_io0G3F6eXSVcg.woff) format('woff');
}