

@font-face {
  font-family: 'UVNTinTucHep_R';
  font-style: normal;
  font-weight: 300;
  src: url('/layouts/web/font/UVNTinTucHep_R.woff') format('woff');
}


@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('/layouts/web/font/robotocondensed/RobotoCondensed-Light.woff') format('woff'),
       url('/layouts/web/font/robotocondensed/RobotoCondensed-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('/layouts/web/font/robotocondensed/RobotoCondensed-Regular.woff') format('woff'),
       url('/layouts/web/font/robotocondensed/RobotoCondensed-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('/layouts/web/font/robotocondensed/RobotoCondensed-Bold.woff') format('woff'),
       url('/layouts/web/font/robotocondensed/RobotoCondensed-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url('/layouts/web/font/robotoslab/RobotoSlab-Light.woff') format('woff'),
       url('/layouts/web/font/robotoslab/RobotoSlab-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('/layouts/web/font/robotoslab/RobotoSlab-Regular.woff') format('woff'),
       url('/layouts/web/font/robotoslab/RobotoSlab-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url('/layouts/web/font/robotoslab/RobotoSlab-Bold.woff') format('woff'),
       url('/layouts/web/font/robotoslab/RobotoSlab-Bold.ttf') format('truetype');
}