.home-footer {
	margin: 0 auto;
	padding: 0px 0 0 0;
	background-color:#fff;
	box-shadow: 3px 0 2px rgba(0, 0, 0, 0.5);
	.news_home {
		margin: 0 auto;
		width: 945px;
		padding: 0 0 30px;
		.footer-top {
			height: 34px;
			margin-bottom: 5px;
			 h2 {
				margin: 4px 0px;
				padding: 0px;
				float: left;
				font-weight: bold;
				font-family: UVNTinTucHep_R;
				font-size: 17px;
				text-transform: uppercase;
				}
			.last-new {
				width: 580px;
				}
		}
		.news {
			border-left: 3px solid #333333;
			padding: 0 0 0 10px;
			height: 46px;
			.date {
				font-weight: 700;
				padding: 0 0 5px 0;
				}
			.title{
				a{
					color:#fff;
					font-size: 13px;
				}
			}
		}
		.footer{
			.menu_footer {
				margin: 10px auto 0px;
				padding: 0 20px 5px 20px;
				width: 945px;
				ul li {
					float: left;
					margin: 0 10px 0 0;
					a {
						&:hover{
							color: #a0a0a0;
							}
						}
					}
				}
			.coppy {
				margin: 0 auto;
				padding: 0 20px 30px 20px;
				width: 945px;
				.coppyright {
					float: left;
					color: #a0a0a0;
					padding-top: 5px;
					}
				}
		}
		.top a{
			color: #0E8EAB;
			&:hover{color: #98272b;}
			}
		.social {
			float: right;
			margin-top: 5px;
			margin-right: 20px;
			li {
				display: inline;
				margin-left: 5px;
				}

			}
	}
}
.ClearBoth {
clear: both;
}