body{
	background-color: rgb(244, 242, 242);
}
#header {
	padding: 0;
	position: relative;
	z-index: 9999;
	box-shadow: 3px 0 2px rgba(0, 0, 0, 0.5);
	max-height: 85px;
}
#logo {
transition: height 0.3s ease 0s, line-height 0.3s ease 0s;
margin-top: 25px;
margin-bottom: 5px;
position: relative;
max-height: 62px;
}

#skenav ul ul {
position: absolute;
top: 100%;
left: 0px;
float: left;
width: 200px;
z-index: 99999;
}
#skenav .ske-menu, ul.menu {
font-size: 13px;
margin: 0px;
display: inline-block;
width: auto;
float: right;
}
ul.menu li {
float: left;
position: relative;
margin-left: 0px;
list-style: none outside none;
}
#skenav ul ul {
position: absolute;
top: 100%;
left: 0px;
float: left;
width: 200px;
z-index: 99999;
}

#skenav a {
color: #333333;
white-space: nowrap;
display: block;
font-size: 13px;
line-height: 85px;
padding: 0 22px;
text-decoration: none;
transition: color 0.1s linear 0s, background 0.1s linear 0s;
-webkit-transition: color 0.1s linear 0s, background 0.1s linear 0s;
-moz-transition: color 0.1s linear 0s, background 0.1s linear 0s;
-o-transition: color 0.1s linear 0s, background 0.1s linear 0s;
&:hover{
	background-color: #FFA500; 
	color: #fff;
	}
}
#skenav .active{
	background-color: #FFA500; 
	color: #fff;
}
#sub-menu{
	ul{
		li{
			display: inline-block;
			float: left;
			padding: 5px 10px 5px 10px;
			white-space: nowrap;
		}
		a{
			color:#fff;
			&:hover{
			border-top:2px solid orange;
			color:#000;
			height: 100%;
			padding: 10px;
			border-radius: 2px;
			background-color:#fff;
			}
		}
	}
	.panel{
		display:none;background-color:#fff;border:3px solid #FFA500;min-height:400px;
		.product-item{
			float:left;margin:5px;
			img{
				border: 2px  solid rgb(240, 225, 197);
			}
			.product-item-name{
				margin:10px 5px 5px 5px;border-top:3px solid #E0E0E0;text-align:center;
				a{
					color:#003D7C;font-size:11px
				}
			}
		}
		.product-featured{
			margin-top:15px;
			position: relative;
			img{
				float:left
			}
			 a {
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				position: absolute;
				left: 15px;
				right: 0;
				bottom: 0;
				padding: 5px 10px;
				color: #fff;
				font-size: 16px;
				font-weight: lighter;
				line-height: 150%;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				background: rgba(0, 0, 0, 0.8);
				transition: all 200ms;
				width: 450px;
				&:hover{
					overflow: auto;
					white-space: normal;
					text-overflow: inherit;
					background-color: rgba(67, 116, 185, 0.8);
					height:50px;
				}
				}
		}
	}
}