
.annotation{
	position: relative;
}
.slide-footer {
	position: absolute;
	bottom: 0px;
	z-index: 9;
	background-color: rgba(0, 0, 0, 0.57);
	width: 100%;
	.footer-wrapper {
	width: 985px;
	margin: 0px auto;
	}
	.block3 {
		width: 298px;
		height: 133px;
		float: left;
		padding: 0px 15px;
		padding-top: 10px;
		cursor: pointer;
		position: relative;
		background: transparent;
		-webkit-transition: background-color 500ms ease-out;
		-moz-transition: background-color 500ms ease-out;
		-o-transition: background-color 500ms ease-out;
		-ms-transition: background-color 500ms ease-out;
		transition: background-color 500ms ease-out;
		 &:hover {
		background: rgba(0,0,0,0.6);
		-webkit-transition: background-color 500ms ease-in;
		-moz-transition: background-color 500ms ease-in;
		-o-transition: background-color 500ms ease-in;
		-ms-transition: background-color 500ms ease-in;
		transition: background-color 500ms ease-in;
		}
		 a{
			text-decoration: none;
			color: #303030;
			}
		 h2 {
			font-size: 22px;
			font-family: UVNTinTucHep_R;
			//color: #c3da77;
			color:#FFA500;
			font-weight: normal;
			text-transform: uppercase;
			border-bottom: solid 1px #95938f;
			text-align: center;
			margin: 5px 0px;
			}
		span.desc {
			color: #fff;
			font-size: 14px;
			font-family: UVNTinTucHep_R;
			font-weight: normal;
			text-align: justify;
			}
		span.detail {
			display: block;
			position: absolute;
			bottom: 9px;
			right: 15px;
			text-align: center;
			width: 58px;
			height: 14px;
			padding: 4px 0px;
			background: url('/layouts/web/img/bg_footer_bottom.jpg') no-repeat;
			color: #191919;
			font-family: arial;
			font-size: 11px;
			}
	}
}

.bg_banner {
	background: url(http://ehome5.vn/assets/uploads/myfiles/images/banner/banner-200apx.jpg) no-repeat 50% 0;
	margin: 0 auto;
	padding: 0;
	.banner {
		height: 111px;
		padding: 60px 20px 0 20px;
		margin: 0 auto;
		.company {
			padding: 0 0 1px 0;
		}
		.nav_line {
			height: 1px;
			line-height: 1px;
			background: url(/layouts/web/img/bg_navication_line.png) repeat-x 0 0;
		}
		.navication {
			background: url(/layouts/web/img/bg_navication.png) repeat 0 0;
			height: 43px;
			padding: 22px 0 0 20px;
			ul li {
			float: left;
			margin-right: 10px;
			 a {
				color: #fff;
				font-size: 18px;
				}
			}
		}
	}
}
.bg_page {
	background: #fff;
	margin: 0 auto;
	padding: 0;
}
.page {
	margin: 0 auto;
	padding-right: 5px;
	padding-left: 22px;
	.page_left {
		margin: 0 0 0 0;
		.background_about {
			background-image: url(/layouts/web/img/about1_en.jpg);
			padding-top: 25px;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 18px;
			color: #9a3336;
			width: 630px;
			height: 38px;
		}
		.bg_title_news {
			background-image: url(/layouts/web/img/news_title_bg.jpg);
			background-position: center;
			width: 620px;
			line-height: 180%;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 18px;
			text-align: justify;
			padding-left: 10px;
			color: #000000;
		}
		.datenewsdetail {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 12px;
			font-weight: bold;
			color: #009933;
			padding-bottom: 5px;
			padding-top: 5px;
			padding-right: 10px;
			.source {
				font-family: Arial, Helvetica, sans-serif;
				color: #666666;
				text-align: right;
				padding-left: 5px;
				font-size: 11px;
			}
		}
		.background_about {
			background-image: url(/layouts/web/img/about1_en.jpg);
			padding-top: 25px;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 18px;
			color: #9a3336;
			width: 630px;
			height: 38px;
		}
		.othernews {
			padding-bottom: 10px;
			padding-left: 15px;
			padding-right: 5px;
			padding-top: 5px;
			width: 95%;
			 ul {
				list-style: none outside none;
				margin: 0;
				padding-left: 0px;
				padding-top: 10px;
				position: relative;
				}
				li {
				background-image: url(/layouts/web/img/blue-square.gif);
				background-position: 0 7px;
				background-repeat: no-repeat;
				padding-left: 15px;
				position: relative;
				}
		}
	}
	.page_right {
		margin: 0;
		padding: 40px 0 0 0;
		.menuright {
			margin: 0 0 40px 0;
			padding: 0;
			.menu_line1 {
				line-height: 1px;
				height: 1px;
				background: #dcdcdc;
			}
			a {
				padding: 6px 10px 0 30px;
				height: 23px;
				display: block;
				border-top: 1px solid #fff;
				border-bottom: 1px solid #dbdbdb;
				color: #0E8EAB;
				font-size: 14px;
				 &:hover{
					background: url(/layouts/web/img/bg_menu_item.jpg) repeat-x 0 0;
					color: #fff;
				}
			}
		}
		.background_investor {
			background-image: url(/layouts/web/img/latest_news_en_bg.jpg);
			widows: 261;
			height: 32;
			padding-top: 5px;
			padding-bottom: 5px;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 14px;
			font-weight: bold;
			color: #9a3336;
			padding-left: 15px;
			clear: both;
		}
		.newsdetail {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 12px;
			text-align: justify;
			padding-left: 10px;
			padding-right: 15px;
			padding-bottom: 5px;
		}
		.datenewsfd {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 12px;
			font-weight: bold;
			color: #53910c;
			padding-top: 8px;
			padding-bottom: 8px;
			padding-left: 5px;
		}
		.titlefd {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 12px;
			padding-left: 8px;
			a {
				color: #0E8EAB;
				&:hover{
					color:gray;
				}
				}
		}
		.banner-adv {
			text-align: center;
			h2 {
				margin: 20px auto;
				text-align: center;
				font-weight: bold;
				font-family: UVNTinTucHep_R;
				font-size: 18px;
				text-transform: uppercase;
				color: #92b233;
				border-bottom: solid 1px #e5e5e5;
				width: 228px;
				padding-bottom: 10px;
				}
			img {
				border: solid 1px #e6e2df;
				padding: 4px;
				background: #fff;
				border-radius: 2px;
				-webkit-border-radius: 2px;
				-moz-border-radius: 2px;
				display: block;
				width: 218px;
				height: 140px;
				margin: 0px auto;
				}
			}
	}
}

