.menusp_container {
	position: absolute;
	right:20px;
	top: 280px;
	color:#fff;
	a{color:#fff;font-size: 14px;}
}
.product_price{
	width:180px;height:230px;position:absolute;right:20px;top:10px;color: #FFF;
	.price_title{
		float: left;
		margin-bottom: 3px;
		background: url(../../Content/images/gia3.png);
		height: 142px;
		padding-left: 2px;
		padding-right: 2px;
		width: 150px;
		text-align: center;
		border-radius: 5px;
		font-size: 14px;
		border:1px  solid rgba(255, 255, 255, 0.52);
		.price_text{
			font-size: 14px;color: white;font-weight: bold;
		}
		.price{
			width: 140px;
			margin: auto;
			height: 85px;
			padding-top: 8px;
			color: white;
			font-size: 26px;
			display: block;
			border-bottom: 1px solid #FFF;
			.price_cur{
				 line-height: 25px;font-family: arial;font-size:14px
			}
		}
		.price_vat{
			font:11px ;line-height: 40px

		}
	}
	.icon{
		float:left;
		width:55px;
		margin-right:5px;
		border:1px  solid rgba(255, 255, 255, 0.52);
		border-radius:2px;
		background-color: rgba(3, 133, 200, 0.7);
		padding:10px;
		font-size: 10px;
		&:last-child{
			margin-right: 0;
		}
		span{
			font-weight: bold;
		}
	}
}

.sppanel {
	position: absolute;
	left: 15px;
	top: 15px;
	.sp_name {
	float: left;
	color: white;
	background: url(http://www.phumyford.com.vn/Content/images/menudiv.png);
	font-size: 16px;
	font-weight: bold;
	margin-top: -10px;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 20px;
	font-family: graffiti;
	}
	.mausac {
	float: left;
	color: black;
	background-color: #DDDCDA;
	font-size: 14px;
	margin-top: -10px;
	height: 30px;
	padding-left: 10px;
	color: #003D7C;
	}
	.mau {
	float: left;
	background-color: #DDDCDA;
	margin-top: -10px;
	height: 30px;
	padding-left: 10px;
	}
	h4{color:#fff;font-size: 14px;}
	.menu_left {
		float: left;
		background: url(http://www.phumyford.com.vn/Content/images/leftdiv.png) no-repeat;
		height: 31px;
		width: 22px;
	}
	.menu_title {
		float: left;
		background: url(http://www.phumyford.com.vn/Content/images/menudiv.png);
		height: 31px;
		padding-left: 2px;
		padding-right: 2px;
		width: 140px;
		position: relative;
		margin-bottom: 5px;
		padding-left: 15px;
	}
	.menu_right {
		float: left;
		background: url(http://www.phumyford.com.vn/Content/images/rightdiv.png) no-repeat;
		height: 31px;
		width: 22px;
		}
		.clear {
		clear: both;
		}
	.menu_title img {
		position: absolute;
		left: -10px;
		top: 4px;
	}
}

/* jssor slider arrow navigator skin 05 css */
/*
.jssora05l              (normal)
.jssora05r              (normal)
.jssora05l:hover        (normal mouseover)
.jssora05r:hover        (normal mouseover)
.jssora05ldn            (mousedown)
.jssora05rdn            (mousedown)
*/
.jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn
{
position: absolute;
cursor: pointer;
display: block;
background: url(/layouts/web/img/alila/a17.png) no-repeat;
overflow:hidden;
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05ldn { background-position: -250px -40px; }
.jssora05rdn { background-position: -310px -40px; }

/* jssor slider thumbnail navigator skin 01 css */
/*
.jssort01 .p           (normal)
.jssort01 .p:hover     (normal mouseover)
.jssort01 .pav           (active)
.jssort01 .pav:hover     (active mouseover)
.jssort01 .pdn           (mousedown)
*/
.jssort01 .w {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.jssort01 .c {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 68px;
    height: 68px;
}

.jssort01 .p:hover .c, .jssort01 .pav:hover .c, .jssort01 .pav .c {
    background: url(/layouts/web/img/alila/t01.png) center center;
    border-width: 0px;
    top: 2px;
    left: 2px;
    width: 68px;
    height: 68px;
}

.jssort01 .p:hover .c, .jssort01 .pav:hover .c {
    top: 0px;
    left: 0px;
    width: 70px;
    height: 70px;
    border: #fff 1px solid;
}

