<div class="widget" style="margin-bottom:30px">
	<?php echo  $this->render('/part/sidebar/about.phtml');?>
</div>
<div id="popular_post" class="widget">
	<h3 class="widget-title h2">Popular Videos</h3>
	<?php echo $this->render('/part/sidebar/list_popular.phtml');?>
</div>

<div class="widget">
	<h3 class="widget-title h2">Find Us In Facebook</h3>
	<?php echo $this->render('/part/sidebar/fanpage.phtml');?>
</div>