<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <?php foreach ($this->list_slide as $key => $item):?>
        <?php $source = My_View_Report::getVideosNoForce($item, $this->user, $this->video_ip);?>
       
      <div class="item <?php echo ($key == 0)?'active':0?>">
         <div class="video-responsive">
              <!--<iframe width="560" height="315" src="<?php echo $url;?>" frameborder="0" allowfullscreen></iframe>-->
              <?php echo $source;?>
          </div>
          <h2><a href="<?php echo $item->url_short?>" alt="<?php echo $item->product_name?>"><?php echo $item->product_name?></h2>
      </div>
    <?php endforeach;?>
    </div>

    <!-- Controls -->
    <a class=" carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <div class="carousel-icon carouse-pre"><span></span></div>
    </a>

    <a class=" carousel-control" href="#myCarousel" style="right:0;left:auto" role="button" data-slide="next">
        <div class="carousel-icon carouse-next" style="right:0"><span></span></div>
    </a>

</div>