<h3 class="widget-title h2">
    Video Categories
</h3>
<div class="main-view row">
<?php foreach($this->list_category as $key => $item):?>
    <div class="item clearfix col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <h6><a href="<?php echo $item->category_url?>" title="<?php echo $item->product_name?>"><?php echo $item->category_name?></a></h6>
      <div class="view-img">
        <a class="video_thumb" href="<?php echo $item->category_url?>"  title="<?php echo $item->product_name?>">    
          <img  alt="<?php echo $item->product_name?>" title="<?php echo $item->product_name?>"  src="/drphil.jpg"> 
          <span class="video-overlay"><i class="icon-play"></i></span>
        </a>
      </div>
      <div class="view-desc">
        <span class="byline">
          <cite class="fn"><i class="fa fa-clock-o"></i></cite>
        </span>
      </div>
    </div>
  <?php endforeach;?>
</div>
