<h3 class="widget-title h2">
  Lasted Video
</h3>
<div class="main-view row">
  <?php foreach($this->list_lasted as $key => $item):?>
    <div class="item clearfix col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <div class="view-img">
        <a class="video_thumb" href="<?php echo $item->url_short?>" title="<?php echo $item->product_name?>">    
          <img alt="<?php echo $item->product_name?>" title="<?php echo $item->product_name?>" width="100%" src="/drphil.jpg">
          <span class="video-overlay"><i class="fa fa-play-circle-o"></i></span>
        </a>
      </div>
      <div class="view-desc">
        <h6><a href="<?php echo $item->url_short?>" title="<?php echo $item->product_name?>"><?php echo $item->product_name?></a></h6>
          <span class="byline">
            <cite class="fn"><i class="fa fa-clock-o"></i> <?php echo date("F j, Y", strtotime($item->publish_date));?></cite>
          </span>
      </div>
    </div>
  <?php endforeach;?>
</div>