<!-- Loading Screen -->
    <div u="loading" style="position: absolute; top: 0px; left: 0px;">
        <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
            background-color: #000000; top: 0px; left: 0px;width: 100%;height:100%;">
        </div>
        <div style="position: absolute; display: block; background: url(/layouts/web/img/loading.gif) no-repeat center center;
            top: 0px; left: 0px;width: 100%;height:100%;">
        </div>
    </div>


        <!-- Slides Container -->
    <div u="slides" class="slide" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1000px; height: 426px; overflow: hidden;">
        <?php foreach ($this->list_gallery as $key => $image):?>
            <div>
                <img u="image" src="<?php echo $image->size1?>" />
                <img u="thumb" src="<?php echo $image->size2?>" />
            </div>
        <?php endforeach;?>
</div>