<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>
                <h2 class="panel-title">Status <a href="/cache/refresh/" class="label label-primary">Refresh</a></h2>
            </header>
            <div class="panel-body">

                <div class="table-responsive">
                    <?php if (is_array($this->list) && count($this->list) > 0) { ?>
                    <table class="table mb-none">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Host</th>
                                <th>Status</th>
                                <th>Version</th>
                                <th>Date Request</th>
                                <th>Date Refresh</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($this->list as $i => $host) { ?>
                            <tr>
                                <td><?php echo ($i + 1)?></td>
                                <td><?php echo $host->host?></td>
                                <td><?php echo $host->status?></td>
                                <td><?php echo $host->version?></td>
                                <td><?php echo $host->date_request?></td>
                                <td><?php echo $host->date_refresh?></td>
                            </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                    <?php } else {
                        ?><div class="alert alert-warning" align="center">Empty Data</div><?php
                    } ?>
                </div>
            </div>
        </section>
    </div>
</div>