<?php 
$this->list_showing = $this->registry->getListShowing();
$this->list_news = $this->registry->getListNews();
?>
<div class="group">
    <div class="background_investor">TIN MỚI NHẤT </div>
    <?php foreach($this->list_news as $key => $list):?>
        <div class="newsdetail">
            <div class="datenewsfd"><?php echo $list->date_add;?>&nbsp;&nbsp;|&nbsp;&nbsp; <font style="font-family:Arial, Helvetica, sans-serif;color:#666666;padding-left:5px;font-size:11px;text-decoration:underline;"><a target="_blank" href="javascript:void(0)">Datxanh</a></font></div>
            <div class="titlefd">
                <a href="<?php echo Utility_Unicode::convertLink(1, $list->news_id, $list->news_slug)?>">
                    <?php echo $list->news_title;?>
                </a>
            </div>
             <img src="/upload/2015/01/e50868ec28d3310c29ec848731865214.jpg" border="0" width="228" height="6" align="left" style="padding-left:5px;margin:4px 0px 7px 0px">
        </div>
    <?php endforeach;?>
</div>
<div class="banner-adv">
    <h2>Dự án đang chào bán</h2>
<?php foreach ($this->list_showing as $key => $list):?>
        <a target="_blank" href="<?php echo Utility_Unicode::convertLink(0, $list->product_id, $list->product_slug)?>">
            <img src="<?php echo $list->image?>" alt="<?php echo $list->product_name?>" title="<?php echo $list->product_name?>"> 
            <h3><?php echo $list->product_name?></h3>
        </a> 
<?php endforeach;?>
</div>
