<?php
$this->head->appendJs('/layouts/v2/js/jquery.tmpl.min.js');
$this->head->appendJs('/layouts/v2/js/dashboard.js');
?>
<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

                <h2 class="panel-title">Transaction &amp; Revenue</h2>
                <p class="panel-subtitle">Daily.</p>
            </header>
            <div class="panel-body">
                <div class="chart chart-md" id="report-transaction"></div>
            </div>
        </section>

        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

                <h2 class="panel-title">Installed Device</h2>
                <p class="panel-subtitle">Monthly.</p>
            </header>
            <div class="panel-body">
                <div class="chart chart-md" id="report-device"></div>
            </div>
        </section>

        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

                <h2 class="panel-title">Cineplex</h2>
                <p class="panel-subtitle">Monthly.</p>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped mb-none">
                        <thead>
                            <tr>
                                <th>Cineplex</th>
                                <th>Month</th>
                                <th>Total Trans.</th>
                                <th>Total Ticket</th>
                            </tr>
                        </thead>
                        <tbody id="report-trans-cineplex"></tbody>
                    </table>
                </div>
            </div>
        </section>

        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

                <h2 class="panel-title">ATM / Credit</h2>
                <p class="panel-subtitle">Monthly.</p>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped mb-none">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Month</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody id="report-trans-payment"></tbody>
                    </table>
                </div>
            </div>
        </section>

        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

                <h2 class="panel-title">Web, Mdot, iOS, Android, MoMo</h2>
                <p class="panel-subtitle">Monthly.
                    |<a href="javascript:void();"  data-type="0" class="report_tran_by_payment_type" style="color:red;font-weight: bold">Total</a>
                    |<a href="javascript:void();"  data-type="1" class="report_tran_by_payment_type">Pay</a>
                    |<a href="javascript:void();"  data-type="2" class="report_tran_by_payment_type">Momo</a>
                    |<a href="javascript:void();"  data-type="3" class="report_tran_by_payment_type">Plus</a>
                    |<a href="javascript:void();"  data-type="4" class="report_tran_by_payment_type">Zalo</a>
                </p>
            </header>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped mb-none">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Month</th>
                                <th>Total</th>
                                <th>Success</th>
                                <th>Fail</th>
                                <th>Cancel</th>
                            </tr>
                        </thead>
                        <tbody id="report-trans-status"></tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
<script id="tmpl-report-1" type="text/x-jquery-tmpl">
<tr>
    <td>${p_cinema_name}</td>
    <td>${date}</td>
    <td>${total}</td>
    <td>${total_ticket}</td>
</tr>
</script>
<script id="tmpl-report-2" type="text/x-jquery-tmpl">
<tr>
    <td>${payment_group}</td>
    <td>${date}</td>
    <td>${total}</td>
</tr>
</script>
<script id="tmpl-report-3" type="text/x-jquery-tmpl">
<tr>
    <td>${type_group}</td>
    <td>${date}</td>
    <td>${total}</td>
    <td>${total_success}</td>
    <td>${total_fail}</td>
    <td>${total_cancel}</td>
</tr>
</script>
<style>

</style>