    <div class="widget">
                      <h2 class="widget-title h2" style="font-size:2em">
                        Details
                      </h2>
                    </div>
                    <article class="article">
                        <div>
                            <?php echo $this->detail->content;?>
                         </div>

                         <div class="pre-next" style="margin-top:60px">
                            <div class="col-md-6 pre-video">
                              <?php if(!empty($this->detail->item_previous) > 0):?>
                                <a href="<?php echo $this->detail->item_previous->url_short?>" title="<?php echo $this->detail->item_previous->product_name?>" style="float:left" class="hidden-xs">
                                  <img src="/layouts/drphil/img/pre.png" width="40px" alt="<?php echo $this->detail->item_previous->product_name?>">
                                  <img src="/drphil.jpg" alt="<?php echo $this->detail->item_previous->product_name?>" width="80" height="60px">
                                </a>
                                <div style="margin-left:10px;float:left;max-width:250px;">
                                    <span style="font-size:13px">Previous Video</span><br>
                                    <a href="<?php echo $this->detail->item_previous->url_short?>" title="<?php echo $this->detail->item_previous->product_name?>"><h5 style="font-weight:bold;margin-top:2px"><?php echo $this->detail->item_previous->product_name?></h5></a>
                                </div>
                                <?php endif;?>
                            </div>
                            <div class="col-md-6 next-video">
                            <?php if(!empty($this->detail->item_next) > 0):?>
                              <div style="float:right">
                                <a href="<?php echo $this->detail->item_next->url_short?>" title="<?php echo $this->detail->item_next->product_name?>" style="float:left" class="hidden-xs">
                                  <img src="/drphil.jpg" alt="<?php echo $this->detail->item_next->product_name?>" width="80" height="60px">
                                </a>
                                <div style="margin-left:10px;float:left;max-width:250px;font-size:13">
                                    <span style="font-size:13px">Next Video</span><br>
                                    <a href="<?php echo $this->detail->item_next->url_short?>" title="<?php echo $this->detail->item_next->product_name?>"><h5 style="font-weight:bold;margin-top:2px"><?php echo $this->detail->item_next->product_name?></h5></a>
                                </div>
                                <a href="<?php echo $this->detail->item_next->url_short?>"  title="<?php echo $this->detail->item_next->product_name?>" style="float:left" class="hidden-xs">
                                  <img src="/layouts/drphil/img/next.png"  width="40px">
                                </a>
                              </div>  
                              <?php endif;?>
                            </div>
                        </div>
                        <div style="clear:both"></div>
                    </article>