<div class="button-share">
Share:
<ul class="social">
  <li><a target="_blank" href="http://facebook.com"><img src="/layouts/web/img/0.410466001373275141facebook.png"></a></li>

  <li><a target="_blank" href="http://twitter.com"><img src="/layouts/web/img/0.572257001373275165twitter.png"></a></li>

  <li><a target="_blank" href="http://mail.yahoo.com"><img src="/layouts/web/img/0.660918001373275179email.png"></a></li>

  <li><a target="_blank" href="http://linked.com"><img src="/layouts/web/img/0.416950001373275196in-footer.png"></a></li>

  <li><a target="_blank" href="http://google.com"><img src="/layouts/web/img/0.952131001373275203cong.png"></a></li>
</ul>
</div>