<div id="popular_post" class="widget">
	<h3 class="widget-title h2">Related Videos</h3>
	<?php $this->list_video = $this->detail->list_related;?>
	<?php echo $this->render('/part/sidebar/list_video.phtml');?>
</div>
<div id="popular_post" class="widget">
	<h3 class="widget-title h2">Popular Videos</h3>
	<?php echo $this->render('/part/sidebar/list_popular.phtml');?>
</div>

<div class="widget">
	<h3 class="widget-title h2">Find Us In Facebook</h3>
	<?php echo $this->render('/part/sidebar/fanpage.phtml');?>
</div>

