<?php
$this->head->appendCss('/layouts/admin/vendor/justified-gallery/justifiedGallery.min.css');
$this->head->appendJs('/layouts/admin/vendor/justified-gallery/jquery.justifiedGallery.min.js');
?>
<script type="text/javascript">
var pId = <?php echo (int)$this->data->product_id?>;
</script>
<div class="row">
    <div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>
            <span class="panel-title"><?php echo ucfirst($this->actionName)?></span>
            <span class="mb-xs mt-xs mr-xs btn btn-xs btn-primary" id="add-image">Add Image</span>
        </header>
        <div class="panel-body">
            <div id="justified-gallery">
                <?php if (isset($this->data->images[2]) && count($this->data->images[2]) > 0) foreach ($this->data->images[2] as $img) {
                    ?><a class="item"><img src="<?php echo $img->size1?>" width="auto" height="100" /><span class="delete fa fa-times" data-id="<?php echo $img->image_id?>"></span></a><?php
                } ?>
            </div>
        </div>
    </section>
    </div>
</div>