<div class="Box">
          <div class="row">
           
          <h1 style="color:red;"><b>You Canceled Transaction</b></h1>

        </div>
  </div>
  <style type="text/css">
     .Box {
    border: 2px solid #f1f1f1;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1260px;
}
  </style>