<div class="Box">
          <div class="row">
           <?php if($this->price){?>         
          <h1 style="color:green;"><b>Congratulation! You just Pay <?php echo $this->price;?>$ on my System! Your Balance Now <?php echo $this->price_update;?>$</b></h1>
          <?php }?>
        </div>
  </div>
  <style type="text/css">
     .Box {
    border: 2px solid #f1f1f1;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1260px;
}
  </style>